Repository gophercloud/gophercloud, changes with the labels that .github/labeler.yml gives for each.
All labels: edit:dependencies, edit:actions, edit:gophercloud, edit:openstack, edit:baremetal, edit:baremetalintrospection, edit:blockstorage, edit:common, edit:compute, edit:config, edit:container, edit:containerinfra, edit:db, edit:dns, edit:identity, edit:image, edit:keymanager, edit:loadbalancer, edit:messaging, edit:networking, edit:objectstorage, edit:orchestration, edit:placement, edit:sharedfilesystems, edit:testinfra, edit:utils, edit:workflow

Added node.Retired
  openstack/baremetal/v1/nodes/results.go
Labels: edit:baremetal

Added Node.Retired in v1 branch
  openstack/baremetal/v1/nodes/results.go
Labels: edit:baremetal

Added tests
  openstack/baremetal/v1/nodes/testing/fixtures_test.go
Labels: edit:baremetal

Add a sleep
  internal/acceptance/openstack/compute/v2/services_test.go
Labels: edit:compute

trivial: Consistent file extensions
  .github/dependabot.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/greetings.yaml
  .github/workflows/unit.yaml
Labels: edit:actions, edit:testinfra

make: Add 'format' target
  Makefile
Labels: none

script: Address shellcheck warnings
  script/acceptancetest
  script/bootstrap
  script/coverage
  script/test
  script/unittest
  script/vet
Labels: edit:testinfra

tests: Be consistent in our generation of credentials
  internal/acceptance/openstack/client_test.go
  internal/acceptance/openstack/identity/v3/applicationcredentials_test.go
  internal/acceptance/openstack/identity/v3/credentials_test.go
  internal/acceptance/openstack/identity/v3/ec2credentials_test.go
  internal/acceptance/openstack/identity/v3/oauth1_test.go
  internal/acceptance/openstack/identity/v3/token_test.go
  internal/acceptance/openstack/identity/v3/trusts_test.go
Labels: edit:identity, edit:testinfra

tests: Consist use of th alias
  openstack/baremetal/v1/nodes/testing/results_test.go
  openstack/blockstorage/v2/schedulerstats/testing/fixtures_test.go
  openstack/blockstorage/v2/schedulerstats/testing/requests_test.go
  openstack/blockstorage/v2/services/testing/requests_test.go
  openstack/blockstorage/v3/schedulerstats/testing/fixtures_test.go
  openstack/blockstorage/v3/schedulerstats/testing/requests_test.go
  openstack/blockstorage/v3/services/testing/requests_test.go
  openstack/compute/v2/hypervisors/testing/fixtures_test.go
  openstack/compute/v2/hypervisors/testing/requests_test.go
  openstack/compute/v2/services/testing/requests_test.go
  openstack/identity/v3/ec2tokens/testing/requests_test.go
  openstack/identity/v3/oauth1/testing/fixtures_test.go
  openstack/identity/v3/tokens/testing/fixtures.go
  openstack/identity/v3/tokens/testing/requests_test.go
  openstack/identity/v3/tokens/testing/results_test.go
  openstack/identity/v3/trusts/testing/fixtures_test.go
  openstack/sharedfilesystems/v2/schedulerstats/testing/fixtures_test.go
  openstack/sharedfilesystems/v2/schedulerstats/testing/requests_test.go
  openstack/sharedfilesystems/v2/services/testing/requests_test.go
  openstack/utils/testing/choose_version_test.go
  pagination/testing/linked_test.go
  pagination/testing/marker_test.go
  pagination/testing/pagination_test.go
  pagination/testing/single_test.go
  testhelper/client/fake.go
Labels: edit:gophercloud, edit:baremetal, edit:blockstorage, edit:compute, edit:identity, edit:sharedfilesystems, edit:testinfra, edit:utils

scripts: Add getenvvar tool
  script/getenvvar
Labels: edit:testinfra

tests: Add AssertTypeOf helper
  testhelper/convenience.go
  testing/auth_options_test.go
  testing/params_test.go
Labels: edit:gophercloud, edit:testinfra

testing: Set test case names
  testing/auth_options_test.go
  testing/params_test.go
Labels: edit:gophercloud

tests: Add missing RequireAdmin calls
  internal/acceptance/openstack/identity/v3/federation_test.go
  internal/acceptance/openstack/identity/v3/oauth1_test.go
Labels: edit:identity

Add needinfo label
  .github/labels.yaml
  .github/workflows/label-issue.yaml
Labels: edit:actions

.github/labeler.yml:

edit:dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'go.mod'
    - 'go.sum'
    - '.github/dependabot.yml'
edit:actions:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**'
edit:gophercloud:
- changed-files:
  - any-glob-to-any-file:
    - '*.go'
    - 'testing/**'
    - 'pagination/**'
edit:openstack:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/*'
    - 'openstack/testing/**'
edit:baremetal:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/baremetal/**'
    - 'internal/acceptance/openstack/baremetal/**'
edit:baremetalintrospection:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/baremetalintrospection/**'
edit:blockstorage:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/blockstorage/**'
    - 'internal/acceptance/openstack/blockstorage/**'
edit:common:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/common/**'
edit:compute:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/compute/**'
    - 'internal/acceptance/openstack/compute/**'
edit:config:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/config/**'
edit:container:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/container/**'
    - 'internal/acceptance/openstack/container/**'
edit:containerinfra:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/containerinfra/**'
    - 'internal/acceptance/openstack/containerinfra/**'
edit:db:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/db/**'
    - 'internal/acceptance/openstack/db/**'
edit:dns:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/dns/**'
    - 'internal/acceptance/openstack/dns/**'
edit:identity:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/identity/**'
    - 'internal/acceptance/openstack/identity/**'
edit:image:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/image/**'
    - 'internal/acceptance/openstack/image/**'
edit:keymanager:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/keymanager/**'
    - 'internal/acceptance/openstack/keymanager/**'
edit:loadbalancer:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/loadbalancer/**'
    - 'internal/acceptance/openstack/loadbalancer/**'
edit:messaging:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/messaging/**'
    - 'internal/acceptance/openstack/messaging/**'
edit:networking:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/networking/**'
    - 'internal/acceptance/openstack/networking/**'
edit:objectstorage:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/objectstorage/**'
    - 'internal/acceptance/openstack/objectstorage/**'
edit:orchestration:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/orchestration/**'
    - 'internal/acceptance/openstack/orchestration/**'
edit:placement:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/placement/**'
    - 'internal/acceptance/openstack/placement/**'
edit:sharedfilesystems:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/sharedfilesystems/**'
    - 'internal/acceptance/openstack/sharedfilesystems/**'
edit:testinfra:
- changed-files:
  - any-glob-to-any-file:
    - 'testhelper/**'
    - 'internal/acceptance/*'
    - 'internal/acceptance/openstack/*'
    - 'internal/acceptance/clients/**'
    - 'internal/acceptance/tools/**'
    - '.github/workflows/functional-*.yaml'
    - '.github/workflows/unit.yaml'
    - '.github/workflows/lint.yaml'
    - 'script/**'
edit:utils:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/utils/**'
edit:workflow:
- changed-files:
  - any-glob-to-any-file:
    - 'openstack/workflow/**'
    - 'internal/acceptance/openstack/workflow/**'

v1:
- base-branch: 'v1'
v2:
- base-branch: 'v2'
