Repository gophercloud/gophercloud, pull requests merged in 2023-06, with the labels that each got.

#2634 baremetal: update inspection inventory with recent additions
  openstack/baremetalintrospection/v1/introspection/results.go
  openstack/baremetalintrospection/v1/introspection/testing/fixtures.go
Labels: semver:minor

#2635 [manila]: Add Share Replicas support
  acceptance/clients/conditions.go
  acceptance/openstack/sharedfilesystems/v2/replicas.go
  acceptance/openstack/sharedfilesystems/v2/replicas_test.go
  acceptance/openstack/sharedfilesystems/v2/schedulerstats_test.go
  openstack/sharedfilesystems/v2/replicas/requests.go
  openstack/sharedfilesystems/v2/replicas/results.go
  openstack/sharedfilesystems/v2/replicas/testing/fixtures.go
  openstack/sharedfilesystems/v2/replicas/testing/request_test.go
  openstack/sharedfilesystems/v2/replicas/urls.go
Labels: semver:minor

#2637 [FWaaS_v2]: Add FWaaS_V2 workflow and enable tests
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-networking.yaml
  acceptance/openstack/networking/v2/extensions/fwaas_v2/groups_test.go
  acceptance/openstack/networking/v2/extensions/fwaas_v2/policy_test.go
  acceptance/openstack/networking/v2/extensions/fwaas_v2/rule_test.go
Labels: semver:patch

#2648 [manila]: implement share transfer API
  acceptance/clients/conditions.go
  acceptance/openstack/sharedfilesystems/v2/sharetransfers.go
  acceptance/openstack/sharedfilesystems/v2/sharetransfers_test.go
  openstack/sharedfilesystems/v2/replicas/requests.go
  openstack/sharedfilesystems/v2/replicas/results.go
  openstack/sharedfilesystems/v2/sharetransfers/requests.go
  openstack/sharedfilesystems/v2/sharetransfers/results.go
  openstack/sharedfilesystems/v2/sharetransfers/testing/fixtures.go
  openstack/sharedfilesystems/v2/sharetransfers/testing/requests_test.go
  openstack/sharedfilesystems/v2/sharetransfers/urls.go
Labels: semver:minor

#2650 Prepare release v1.5.0
  CHANGELOG.md
  provider_client.go
Labels: semver:minor

#2642 Add CRUD support for encryption in volume v3 types
  acceptance/openstack/blockstorage/v3/volumetypes_test.go
  openstack/blockstorage/v3/volumetypes/doc.go
  openstack/blockstorage/v3/volumetypes/requests.go
  openstack/blockstorage/v3/volumetypes/results.go
  openstack/blockstorage/v3/volumetypes/testing/fixtures.go
  openstack/blockstorage/v3/volumetypes/testing/requests_test.go
  openstack/blockstorage/v3/volumetypes/urls.go
Labels: semver:minor

#2656 Instrument backporting to v1
  .github/backport-labels.yaml
  .github/workflows/backport_v1.yaml
  .github/workflows/ensure-labels.yaml
  README.md
Labels: semver:patch

#2661 chore: Fix labels
  .github/labels.yaml
  .github/semver-labels.yaml
  .github/workflows/ensure-labels.yaml
Labels: semver:patch

#2664 Add projectID to fwaas_v2 policy CreateOpts and ListOpts
  openstack/networking/v2/extensions/fwaas_v2/policies/requests.go
  openstack/networking/v2/extensions/fwaas_v2/policies/results.go
  openstack/networking/v2/extensions/fwaas_v2/policies/testing/requests_test.go
Labels: backport-v1, semver:minor

#2663 Add projectID to fwaas_v2 CreateOpts
  openstack/networking/v2/extensions/fwaas_v2/rules/requests.go
  openstack/networking/v2/extensions/fwaas_v2/rules/testing/requests_test.go
Labels: backport-v1, semver:minor

#2658 tests: run MultiAttach with a capable Cinder Type
  acceptance/openstack/blockstorage/v3/blockstorage.go
  acceptance/openstack/blockstorage/v3/volumes_test.go
Labels: backport-v1, semver:patch
