Repository gophercloud/gophercloud, pull requests merged in 2023-08, with the labels that each got.

#2708 backport-v1: use PAT token when creating the PR
  .github/workflows/backport_v1.yaml
Labels: semver:patch

#2709 README: minor change to test backport workflow
  README.md
Labels: backport-v1

#2711 backport: use github app instead of PAT
  .github/workflows/backport_v1.yaml
Labels: semver:patch

#2561 compute: add ext_specs to flavor
  acceptance/openstack/compute/v2/flavors_test.go
  openstack/compute/v2/flavors/results.go
  openstack/compute/v2/flavors/testing/requests_test.go
Labels: semver:major

#2492 Add tags for loadbalancer l7policy and l7rule
  acceptance/openstack/loadbalancer/v2/loadbalancer.go
  acceptance/openstack/loadbalancer/v2/loadbalancers_test.go
  openstack/loadbalancer/v2/l7policies/requests.go
  openstack/loadbalancer/v2/l7policies/results.go
Labels: semver:major

#2560 loadbalancer: Use CreateMemberOpts instead of BatchUpdateMemberOpts in PoolCreateOpts
  acceptance/openstack/loadbalancer/v2/loadbalancer.go
  openstack/loadbalancer/v2/loadbalancers/testing/requests_test.go
  openstack/loadbalancer/v2/pools/requests.go
Labels: semver:major

#2719 orchestration: Explicit error in optionsmap creation
  openstack/orchestration/v1/stacks/requests.go
  openstack/orchestration/v1/stacks/testing/requests_test.go
Labels: backport-v1, semver:patch

#2722 Add conductor API to Baremetal V1
  acceptance/openstack/baremetal/v1/conductors_test.go
  openstack/baremetal/v1/conductors/doc.go
  openstack/baremetal/v1/conductors/requests.go
  openstack/baremetal/v1/conductors/results.go
  openstack/baremetal/v1/conductors/testing/doc.go
  openstack/baremetal/v1/conductors/testing/fixtures.go
  openstack/baremetal/v1/conductors/testing/requests_test.go
  openstack/baremetal/v1/conductors/urls.go
Labels: backport-v1, semver:minor

#2613 Migrate baremetal inventory to a common location
  openstack/baremetal/inventory/testing/fixtures.go
  openstack/baremetal/inventory/testing/types_test.go
  openstack/baremetal/inventory/types.go
  openstack/baremetalintrospection/v1/introspection/results.go
  openstack/baremetalintrospection/v1/introspection/testing/fixtures.go
  openstack/baremetalintrospection/v1/introspection/testing/results_test.go
Labels: semver:major

#2724 baremetal: introduce Node Inventory API
  openstack/baremetal/v1/nodes/requests.go
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/fixtures.go
  openstack/baremetal/v1/nodes/testing/requests_test.go
  openstack/baremetal/v1/nodes/urls.go
Labels: semver:minor

#2725 baremetal: finish moving common inventory bits
  openstack/baremetal/inventory/plugindata.go
  openstack/baremetal/inventory/testing/fixtures.go
  openstack/baremetal/inventory/testing/plugindata_test.go
  openstack/baremetal/inventory/testing/types_test.go
  openstack/baremetal/inventory/types.go
  openstack/baremetalintrospection/v1/introspection/results.go
  openstack/baremetalintrospection/v1/introspection/testing/fixtures.go
  openstack/baremetalintrospection/v1/introspection/testing/results_test.go
Labels: semver:major

#2728 networking/v2/ports: allow list filter by security group
  openstack/networking/v2/ports/requests.go
Labels: backport-v1, semver:minor

#2508 Add Github Workflow for checking Go API compatibility on PRs
  .github/workflows/semver-auto.yaml
  .github/workflows/semver-unlabel.yaml
Labels: semver:patch, github_actions

#2734 workflow: remove semver-require
  .github/workflows/semver-require.yaml
Labels: semver:patch

#2738 Prepare release v1.6.0
  CHANGELOG.md
  provider_client.go
Labels: semver:patch
