Repository gophercloud/gophercloud, pull requests merged in 2023-09, with the labels that each got.

#2740 workflow/semver-auto: rebase PR
  .github/labels.yaml
  .github/workflows/semver-auto.yaml
Labels: semver:patch

#2743 CI: Fix a typo in semver-auto
  .github/workflows/semver-auto.yaml
Labels: semver:patch, github_actions

#2745 semver-auto: manual rebase instead of external action
  .github/workflows/semver-auto.yaml
Labels: semver:unknown

#2744 semver-auto: remove labels first
  .github/workflows/semver-auto.yaml
Labels: semver:unknown

#2742 workflow/backport_v1: use verified getsentry/action-github-app-token
  .github/workflows/backport_v1.yaml
Labels: semver:patch, github_actions

#2754 semver-auto: tell who we are during rebase
  .github/workflows/semver-auto.yaml
Labels: semver:patch

#2736 Composable templates
  openstack/orchestration/v1/stacks/template.go
  openstack/orchestration/v1/stacks/template_test.go
Labels: semver:patch

#2760 [v1 backports] semver auto labels
  .github/workflows/semver-auto.yaml
  .github/workflows/semver-unlabel.yaml
Labels: semver:patch, github_actions

#2762 ci/functional: fix ubuntu version & add antelope
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-imageservice.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  acceptance/openstack/blockstorage/v3/volumeattachments.go
Labels: semver:patch, github_actions

#2773 Fix semver-auto
  .github/workflows/semver-auto.yaml
Labels: semver:patch

#2771 Fix typos in comments
  openstack/imageservice/v2/images/results.go
  openstack/keymanager/v1/secrets/results.go
  openstack/networking/v2/extensions/qos/ruletypes/doc.go
Labels: backport-v1, semver:patch

#2761 CI: automatically reject backward incompatible backports
  .github/workflows/backport_v1.yaml
Labels: semver:patch, github_actions

#2777 Add tag field to compute block_device_v2
  acceptance/openstack/compute/v2/bootfromvolume_test.go
  acceptance/openstack/compute/v2/compute.go
  openstack/compute/v2/extensions/bootfromvolume/requests.go
  openstack/compute/v2/extensions/bootfromvolume/testing/fixtures.go
  openstack/compute/v2/extensions/bootfromvolume/testing/requests_test.go
Labels: backport-v1, semver:minor

#2780 backport: include label name changes in events
  .github/workflows/backport_v1.yaml
Labels: semver:patch

#2783 [v1] (clean manual backport) ci/functional: fix ubuntu version & add antelope
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-imageservice.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  acceptance/openstack/blockstorage/v3/volumeattachments.go
Labels: semver:patch

#2782 [v1] (manual clean backport) Add tag field to compute block_device_v2
  acceptance/openstack/compute/v2/bootfromvolume_test.go
  acceptance/openstack/compute/v2/compute.go
  openstack/compute/v2/extensions/bootfromvolume/requests.go
  openstack/compute/v2/extensions/bootfromvolume/testing/fixtures.go
  openstack/compute/v2/extensions/bootfromvolume/testing/requests_test.go
Labels: semver:minor

#2764 Acceptance: Handle numerical version names in version comparison helpers
  acceptance/clients/conditions.go
  acceptance/clients/testing/conditions_test.go
  acceptance/openstack/loadbalancer/v2/loadbalancer.go
  acceptance/openstack/loadbalancer/v2/quotas_test.go
Labels: backport-v1, semver:patch

#2784 backport: fix label names
  .github/workflows/backport_v1.yaml
Labels: semver:patch

#2789 Prepare 1.7.0
  CHANGELOG.md
  provider_client.go
Labels: semver:major
