Repository gophercloud/gophercloud, pull requests merged in 2023-07, with the labels that each got.

#2674 [CI] Drop branch filters for 'Ensure Labels' and 'CodeQL' jobs
  .github/workflows/codeql-analysis.yml
  .github/workflows/ensure-labels.yaml
Labels: backport-v1, semver:patch

#2675 [v1][CI] Drop periodic jobs from stable branch
  .github/workflows/codeql-analysis.yml
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-imageservice.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch

#2681 Remove unused backport-labels.yaml file
  .github/backport-labels.yaml
Labels: semver:patch

#2680 Restore branch filter for ensure-labels workflow
  .github/workflows/ensure-labels.yaml
Labels: semver:patch

#2684 Advertise slack channel
  README.md
Labels: backport-v1, semver:patch

#2683 [v1] CI tweaks
  .github/semver-labels.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/semver-labels.yaml
  README.md
Labels: semver:patch

#2687 Use git-backporting v4.1.0
  .github/workflows/backport_v1.yaml
Labels: semver:patch

#2693 labels: Add Dependabot labels
  .github/labels.yaml
Labels: semver:patch, github_actions

#2696 [cinder]: add reset and force delete actions to volumes and snapshots
  acceptance/openstack/blockstorage/extensions/extensions.go
  acceptance/openstack/blockstorage/extensions/volumeactions_test.go
  acceptance/openstack/blockstorage/v3/blockstorage.go
  acceptance/openstack/blockstorage/v3/quotaset_test.go
  acceptance/openstack/blockstorage/v3/snapshots_test.go
  openstack/blockstorage/extensions/volumeactions/requests.go
  openstack/blockstorage/extensions/volumeactions/results.go
  openstack/blockstorage/extensions/volumeactions/testing/fixtures.go
  openstack/blockstorage/extensions/volumeactions/testing/requests_test.go
  openstack/blockstorage/v3/snapshots/requests.go
  openstack/blockstorage/v3/snapshots/results.go
  openstack/blockstorage/v3/snapshots/testing/fixtures.go
  openstack/blockstorage/v3/snapshots/testing/requests_test.go
  openstack/blockstorage/v3/snapshots/urls.go
  openstack/compute/v2/extensions/remoteconsoles/testing/fixtures.go
Labels: semver:minor

#2645 Require Go v1.20
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-imageservice.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/unit.yml
  go.mod
  go.sum
Labels: semver:major

#2665 Cinder: Remove multiatttach request parameter
  openstack/blockstorage/v3/volumes/requests.go
Labels: semver:major
