Repository gophercloud/gophercloud, pull requests merged in 2023-10, with the labels that each got.

#2781 baremetal: support ironic native PluginData
  openstack/baremetal/inventory/plugindata.go
  openstack/baremetal/inventory/testing/fixtures.go
  openstack/baremetal/inventory/testing/plugindata_test.go
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/results_test.go
Labels: semver:minor

#2793 ci/unit: switch to coverallsapp/github-action
  .github/workflows/unit.yml
Labels: backport-v1, semver:patch, github_actions

#2799 Fix options initialization in ServiceClient.Request (fixes #2798)
  service_client.go
Labels: backport-v1, semver:patch

#2801 Add job for bobcat stable/2023.2
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-imageservice.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch

#2805 Fix baremetal jobs on Ubuntu 20.04
  .github/workflows/functional-baremetal.yaml
Labels: semver:patch

#2813 Add workaround for baremetal jobs on ubuntu 20.04
  .github/workflows/functional-baremetal.yaml
Labels: backport-v1, semver:patch, github_actions

#2809 Remove code for CDN (poppy)
  openstack/cdn/v1/base/doc.go
  openstack/cdn/v1/base/requests.go
  openstack/cdn/v1/base/results.go
  openstack/cdn/v1/base/testing/doc.go
  openstack/cdn/v1/base/testing/fixtures.go
  openstack/cdn/v1/base/testing/requests_test.go
  openstack/cdn/v1/base/urls.go
  openstack/cdn/v1/flavors/doc.go
  openstack/cdn/v1/flavors/requests.go
  openstack/cdn/v1/flavors/results.go
  openstack/cdn/v1/flavors/testing/doc.go
  openstack/cdn/v1/flavors/testing/fixtures.go
  openstack/cdn/v1/flavors/testing/requests_test.go
  openstack/cdn/v1/flavors/urls.go
  openstack/cdn/v1/serviceassets/doc.go
  openstack/cdn/v1/serviceassets/requests.go
  openstack/cdn/v1/serviceassets/results.go
  openstack/cdn/v1/serviceassets/testing/doc.go
  openstack/cdn/v1/serviceassets/testing/fixtures.go
  openstack/cdn/v1/serviceassets/testing/requests_test.go
  openstack/cdn/v1/serviceassets/urls.go
  openstack/cdn/v1/services/doc.go
  openstack/cdn/v1/services/errors.go
  openstack/cdn/v1/services/requests.go
  openstack/cdn/v1/services/results.go
  openstack/cdn/v1/services/testing/doc.go
  openstack/cdn/v1/services/testing/fixtures.go
  openstack/cdn/v1/services/testing/requests_test.go
  openstack/cdn/v1/services/urls.go
  openstack/client.go
Labels: semver:major

#2795 Support Firmware Interface
  internal/acceptance/openstack/baremetal/httpbasic/nodes_test.go
  internal/acceptance/openstack/baremetal/v1/nodes_test.go
  openstack/baremetal/v1/drivers/results.go
  openstack/baremetal/v1/drivers/testing/fixtures_test.go
  openstack/baremetal/v1/nodes/requests.go
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/fixtures_test.go
  openstack/baremetal/v1/nodes/testing/requests_test.go
  openstack/baremetal/v1/nodes/urls.go
Labels: backport-v1, semver:minor

#2815 Fix blind replacement of paths in Heat template referencing other files
  openstack/orchestration/v1/stacks/environment.go
  openstack/orchestration/v1/stacks/environment_test.go
  openstack/orchestration/v1/stacks/requests.go
  openstack/orchestration/v1/stacks/template.go
  openstack/orchestration/v1/stacks/template_test.go
  openstack/orchestration/v1/stacks/utils.go
  openstack/orchestration/v1/stacks/utils_test.go
  testhelper/http_responses.go
Labels: backport-v1, semver:minor

#2806 Fix list ports with multiple fixedip parameters
  internal/acceptance/openstack/networking/v2/ports_test.go
  openstack/networking/v2/ports/requests.go
  openstack/networking/v2/ports/testing/requests_test.go
Labels: semver:major

#2822 Add more godoc to GuestFormat
  openstack/compute/v2/extensions/bootfromvolume/requests.go
Labels: semver:patch

#2826 Allow objects.CreateTempURL with names containing /v1/
  internal/acceptance/openstack/objectstorage/v1/objects_test.go
  openstack/objectstorage/v1/objects/requests.go
Labels: semver:patch

#2828 Octavia: Add tags to resources missing them
  openstack/loadbalancer/v2/listeners/requests.go
  openstack/loadbalancer/v2/monitors/requests.go
  openstack/loadbalancer/v2/monitors/results.go
  openstack/loadbalancer/v2/monitors/testing/fixtures_test.go
  openstack/loadbalancer/v2/monitors/testing/requests_test.go
  openstack/loadbalancer/v2/pools/requests.go
Labels: semver:major

#2821 objects: Escape names in Gophercloud
  CHANGELOG.md
  internal/acceptance/openstack/objectstorage/v1/containers_test.go
  internal/acceptance/openstack/objectstorage/v1/objects_test.go
  internal/acceptance/openstack/objectstorage/v1/versioning_test.go
  internal/acceptance/tools/tools.go
  openstack/objectstorage/v1/containers/errors.go
  openstack/objectstorage/v1/containers/requests.go
  openstack/objectstorage/v1/containers/testing/fixtures.go
  openstack/objectstorage/v1/containers/testing/requests_test.go
  openstack/objectstorage/v1/containers/urls.go
  openstack/objectstorage/v1/errors.go
  openstack/objectstorage/v1/objects/requests.go
  openstack/objectstorage/v1/objects/testing/fixtures_test.go
  openstack/objectstorage/v1/objects/testing/requests_test.go
  openstack/objectstorage/v1/objects/urls.go
Labels: semver:major
