Repository gophercloud/gophercloud, pull requests merged in 2024-04, with the labels that each got.

#3013 README: Document the auth options of v2
  README.md
Labels: semver:patch

#3024 compute: Remove deprecated APIs
  internal/acceptance/openstack/blockstorage/v2/blockstorage.go
  internal/acceptance/openstack/blockstorage/v2/volumes_test.go
  internal/acceptance/openstack/blockstorage/v3/blockstorage.go
  internal/acceptance/openstack/blockstorage/v3/volumes_test.go
  internal/acceptance/openstack/compute/v2/compute.go
  internal/acceptance/openstack/compute/v2/defsecrules_test.go
  internal/acceptance/openstack/compute/v2/floatingip_test.go
  internal/acceptance/openstack/compute/v2/images_test.go
  internal/acceptance/openstack/compute/v2/network_test.go
  internal/acceptance/openstack/compute/v2/tenantnetworks_test.go
  openstack/compute/v2/defsecrules/doc.go
  openstack/compute/v2/defsecrules/requests.go
  openstack/compute/v2/defsecrules/results.go
  openstack/compute/v2/defsecrules/testing/doc.go
  openstack/compute/v2/defsecrules/testing/fixtures_test.go
  openstack/compute/v2/defsecrules/testing/requests_test.go
  openstack/compute/v2/defsecrules/urls.go
  openstack/compute/v2/floatingips/doc.go
  openstack/compute/v2/floatingips/requests.go
  openstack/compute/v2/floatingips/results.go
  openstack/compute/v2/floatingips/testing/doc.go
  openstack/compute/v2/floatingips/testing/fixtures_test.go
  openstack/compute/v2/floatingips/testing/requests_test.go
  openstack/compute/v2/floatingips/urls.go
  openstack/compute/v2/images/doc.go
  openstack/compute/v2/images/requests.go
  openstack/compute/v2/images/results.go
  openstack/compute/v2/images/testing/doc.go
  openstack/compute/v2/images/testing/requests_test.go
  openstack/compute/v2/images/urls.go
  openstack/compute/v2/networks/doc.go
  openstack/compute/v2/networks/requests.go
  openstack/compute/v2/networks/results.go
  openstack/compute/v2/networks/testing/doc.go
  openstack/compute/v2/networks/testing/fixtures_test.go
  openstack/compute/v2/networks/testing/requests_test.go
  openstack/compute/v2/networks/urls.go
  openstack/compute/v2/tenantnetworks/doc.go
  openstack/compute/v2/tenantnetworks/requests.go
  openstack/compute/v2/tenantnetworks/results.go
  openstack/compute/v2/tenantnetworks/testing/doc.go
  openstack/compute/v2/tenantnetworks/testing/fixtures_test.go
  openstack/compute/v2/tenantnetworks/testing/requests_test.go
  openstack/compute/v2/tenantnetworks/urls.go
Labels: semver:major

#3009 Update migration guide for v2
  docs/MIGRATING.md
Labels: semver:patch

#3032 remove golang patch version from main go.mod
  go.mod
Labels: semver:patch

#3014 baremetal: add support for servicing
  .github/workflows/functional-baremetal.yaml
  internal/acceptance/openstack/baremetal/v1/baremetal.go
  internal/acceptance/openstack/baremetal/v1/nodes_test.go
  openstack/baremetal/v1/nodes/requests.go
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/fixtures_test.go
  openstack/baremetal/v1/nodes/testing/requests_test.go
Labels: semver:minor
