Repository gophercloud/gophercloud, pull requests merged in 2024-12, with the labels that each got.

#3235 Adding CI job for testing workflow (Mistral)
  .github/workflows/functional-workflow.yaml
Labels: semver:patch, edit:actions, edit:testinfra

#3247 Add support for disable_power_off
  openstack/baremetal/v1/nodes/requests.go
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/fixtures_test.go
Labels: semver:minor, backport-v2, edit:baremetal

#3264 labels: Add edit:testinfra
  .github/labels.yaml
Labels: semver:patch, edit:actions

#3266 Prepare v2.3.0
  CHANGELOG.md
  provider_client.go
Labels: semver:minor, v2, edit:gophercloud

#3190 [core]: allow empty struct member updates
  internal/acceptance/openstack/compute/v2/aggregates_test.go
  internal/acceptance/openstack/compute/v2/flavors_test.go
  internal/acceptance/openstack/compute/v2/secgroup_test.go
  internal/acceptance/openstack/compute/v2/servers_test.go
  internal/acceptance/openstack/loadbalancer/v2/flavorprofiles_test.go
  internal/acceptance/openstack/loadbalancer/v2/flavors_test.go
  internal/acceptance/openstack/loadbalancer/v2/loadbalancer.go
  internal/ptr/ptr.go
  openstack/compute/v2/aggregates/requests.go
  openstack/compute/v2/aggregates/testing/requests_test.go
  openstack/compute/v2/flavors/requests.go
  openstack/compute/v2/flavors/testing/requests_test.go
  openstack/compute/v2/secgroups/requests.go
  openstack/compute/v2/secgroups/testing/requests_test.go
  openstack/compute/v2/servers/requests.go
  openstack/compute/v2/servers/testing/requests_test.go
  openstack/loadbalancer/v2/flavorprofiles/requests.go
  openstack/loadbalancer/v2/flavorprofiles/testing/requests_test.go
  openstack/loadbalancer/v2/flavors/requests.go
  openstack/loadbalancer/v2/flavors/testing/fixtures.go
  openstack/loadbalancer/v2/flavors/testing/requests_test.go
Labels: semver:major, edit:actions, edit:loadbalancer, edit:compute

#3267 SG rules: implement bulk create
  internal/acceptance/openstack/networking/v2/extensions/extensions.go
  internal/acceptance/openstack/networking/v2/extensions/security_test.go
  openstack/networking/v2/extensions/security/rules/requests.go
  openstack/networking/v2/extensions/security/rules/results.go
  openstack/networking/v2/extensions/security/rules/testing/requests_test.go
  params.go
Labels: semver:minor, backport-v2, edit:networking, edit:gophercloud

#2387 Add missing fields in Objectstorage and compute API
  openstack/compute/v2/servers/results.go
  openstack/compute/v2/servers/testing/fixtures_test.go
  openstack/compute/v2/servers/testing/requests_test.go
  openstack/objectstorage/v1/containers/results.go
  openstack/objectstorage/v1/containers/testing/fixtures.go
  openstack/objectstorage/v1/containers/testing/requests_test.go
Labels: semver:minor, edit:compute, edit:objectstorage, just-needs-tests

#3271 Prepare v2.4.0
  CHANGELOG.md
  provider_client.go
Labels: semver:minor, v2, edit:gophercloud

#3277 test: Ensure that randomly created secgroup rules don't conflict
  internal/acceptance/openstack/networking/v2/extensions/extensions.go
Labels: semver:patch, edit:networking

#3276 bulk security group rule creation: Allow using CreateOptsBuilder
  openstack/networking/v2/extensions/security/rules/requests.go
  openstack/networking/v2/extensions/security/rules/testing/requests_test.go
Labels: semver:major, edit:networking

#3275 Rename development branch from `master` to `main`
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
  .github/workflows/ensure-labels.yaml
  .github/workflows/greetings.yaml
  README.md
  docs/contributor-tutorial/step-05-pull-requests.md
Labels: semver:patch, edit:actions

#3274 compute: Merge keypair CreateOptsExt
  internal/acceptance/openstack/compute/v2/compute.go
  openstack/compute/v2/keypairs/doc.go
  openstack/compute/v2/keypairs/requests.go
  openstack/compute/v2/servers/requests.go
  openstack/loadbalancer/v2/flavors/testing/fixtures.go
Labels: semver:major, edit:loadbalancer, edit:compute

#3278 [v2] test: Ensure that randomly created secgroup rules don't conflict
  internal/acceptance/openstack/networking/v2/extensions/extensions.go
Labels: semver:patch, edit:networking, v2
