Repository gophercloud/gophercloud, pull requests merged in 2024-11, with the labels that each got.

#3231 actions: Replace external dependency with gh
  .github/workflows/backport.yaml
Labels: semver:patch, edit:actions

#3228 Added required fields for Node API Parity
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/fixtures_test.go
Labels: semver:minor, backport-v2, edit:baremetal

#3242 Drop CI coverage for Antelope
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch, edit:actions, edit:testinfra

#3245 make: Switch default test runner
  Makefile
Labels: semver:patch

#3065 Misc cleanups
  .github/dependabot.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/greetings.yaml
  .github/workflows/unit.yaml
  Makefile
  internal/acceptance/openstack/client_test.go
  internal/acceptance/openstack/identity/v3/applicationcredentials_test.go
  internal/acceptance/openstack/identity/v3/credentials_test.go
  internal/acceptance/openstack/identity/v3/ec2credentials_test.go
  internal/acceptance/openstack/identity/v3/federation_test.go
  internal/acceptance/openstack/identity/v3/oauth1_test.go
  internal/acceptance/openstack/identity/v3/token_test.go
  internal/acceptance/openstack/identity/v3/trusts_test.go
  openstack/baremetal/v1/nodes/testing/results_test.go
  openstack/blockstorage/v2/schedulerstats/testing/fixtures_test.go
  openstack/blockstorage/v2/schedulerstats/testing/requests_test.go
  openstack/blockstorage/v2/services/testing/requests_test.go
  openstack/blockstorage/v3/schedulerstats/testing/fixtures_test.go
  openstack/blockstorage/v3/schedulerstats/testing/requests_test.go
  openstack/blockstorage/v3/services/testing/requests_test.go
  openstack/compute/v2/hypervisors/testing/fixtures_test.go
  openstack/compute/v2/hypervisors/testing/requests_test.go
  openstack/compute/v2/services/testing/requests_test.go
  openstack/identity/v3/ec2tokens/testing/requests_test.go
  openstack/identity/v3/oauth1/testing/fixtures_test.go
  openstack/identity/v3/tokens/testing/fixtures.go
  openstack/identity/v3/tokens/testing/requests_test.go
  openstack/identity/v3/tokens/testing/results_test.go
  openstack/identity/v3/trusts/testing/fixtures_test.go
  openstack/sharedfilesystems/v2/schedulerstats/testing/fixtures_test.go
  openstack/sharedfilesystems/v2/schedulerstats/testing/requests_test.go
  openstack/sharedfilesystems/v2/services/testing/requests_test.go
  openstack/utils/testing/choose_version_test.go
  pagination/testing/linked_test.go
  pagination/testing/marker_test.go
  pagination/testing/pagination_test.go
  pagination/testing/single_test.go
  script/acceptancetest
  script/bootstrap
  script/coverage
  script/getenvvar
  script/test
  script/unittest
  script/vet
  testhelper/client/fake.go
  testhelper/convenience.go
  testing/auth_options_test.go
  testing/params_test.go
Labels: semver:minor, edit:actions, edit:compute, edit:utils, edit:sharedfilesystems, edit:baremetal, edit:gophercloud, edit:blockstorage, edit:identity, edit:testinfra

#3209 Configure and respect service type aliases
  endpoint_search.go
  openstack/blockstorage/noauth/requests.go
  openstack/client.go
  openstack/endpoint_location.go
  service_client.go
  testing/endpoint_search_test.go
Labels: semver:major, edit:openstack, edit:gophercloud, edit:blockstorage
