Repository gophercloud/gophercloud, pull requests merged in 2024-01, with the labels that each got.

#2855 Fix devstack install on EOL magnum branches
  .github/workflows/functional-containerinfra.yaml
Labels: backport-v1, semver:patch

#2854 Fix networking acceptance tests
  internal/acceptance/openstack/networking/v2/extensions/portsbinding/portsbinding_test.go
Labels: backport-v1, semver:patch

#2865 Bump go_apidiff
  .github/workflows/semver-auto.yaml
Labels: semver:patch, dependencies, github_actions

#2871 [db/v1/instance]: adding support for availability_zone for a db instance
  openstack/db/v1/instances/requests.go
  openstack/db/v1/instances/testing/fixtures_test.go
  openstack/db/v1/instances/testing/requests_test.go
Labels: semver:minor

#2866 loadbalancer additional_vips by snigle
  internal/acceptance/openstack/loadbalancer/v2/loadbalancer.go
  internal/acceptance/openstack/loadbalancer/v2/loadbalancers_test.go
  internal/acceptance/openstack/networking/v2/networking.go
  openstack/loadbalancer/v2/loadbalancers/requests.go
  openstack/loadbalancer/v2/loadbalancers/results.go
  openstack/loadbalancer/v2/loadbalancers/testing/fixtures_test.go
  openstack/loadbalancer/v2/loadbalancers/testing/requests_test.go
Labels: semver:minor

#2575 Add support of Flavors and FlavorProfiles for Octavia
  internal/acceptance/openstack/loadbalancer/v2/flavorprofiles_test.go
  internal/acceptance/openstack/loadbalancer/v2/flavors_test.go
  internal/acceptance/openstack/loadbalancer/v2/loadbalancer.go
  openstack/loadbalancer/v2/flavorprofiles/doc.go
  openstack/loadbalancer/v2/flavorprofiles/requests.go
  openstack/loadbalancer/v2/flavorprofiles/results.go
  openstack/loadbalancer/v2/flavorprofiles/testing/doc.go
  openstack/loadbalancer/v2/flavorprofiles/testing/fixtures.go
  openstack/loadbalancer/v2/flavorprofiles/testing/requests_test.go
  openstack/loadbalancer/v2/flavorprofiles/urls.go
  openstack/loadbalancer/v2/flavors/doc.go
  openstack/loadbalancer/v2/flavors/requests.go
  openstack/loadbalancer/v2/flavors/results.go
  openstack/loadbalancer/v2/flavors/testing/doc.go
  openstack/loadbalancer/v2/flavors/testing/fixtures.go
  openstack/loadbalancer/v2/flavors/testing/requests_test.go
  openstack/loadbalancer/v2/flavors/urls.go
Labels: semver:minor

#2879 Set the user agent to an unreleased version
  provider_client.go
Labels: semver:major
