Repository gophercloud/gophercloud, pull requests merged in 2024-09, with the labels that each got.

#3171 Small improvements to v2 migration script
  docs/MIGRATING.md
Labels: semver:patch

#3173 Prepare v2.1.1
  CHANGELOG.md
  provider_client.go
Labels: semver:patch, v2, edit:gophercloud

#3174 Prepare v1.14.1
  CHANGELOG.md
  provider_client.go
Labels: semver:patch, v1, edit:gophercloud

#3160 [containerinfra]: add "MasterLBEnabled" in Cluster results
  internal/acceptance/openstack/containerinfra/v1/clusters_test.go
  openstack/containerinfra/v1/clusters/results.go
  openstack/containerinfra/v1/clusters/testing/fixtures_test.go
Labels: semver:minor, edit:containerinfra

#3180 octavia: add new options to health monitors
  openstack/loadbalancer/v2/monitors/requests.go
  openstack/loadbalancer/v2/monitors/results.go
Labels: semver:minor, backport-v2, edit:loadbalancer

#3178 octavia: add new security options to pools and listeners
  openstack/loadbalancer/v2/listeners/requests.go
  openstack/loadbalancer/v2/listeners/results.go
  openstack/loadbalancer/v2/pools/requests.go
  openstack/loadbalancer/v2/pools/results.go
Labels: semver:minor, backport-v2, edit:loadbalancer

#3187 Add label: just-needs-tests
  .github/labels.yaml
Labels: semver:patch, edit:actions
