Repository gophercloud/gophercloud, pull requests merged in 2024-03, with the labels that each got.

#2962 Drop CI coverage for Victoria-Yoga
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: backport-v1, semver:patch, backport-v2

#2971 [v1] Remove context
  CHANGELOG.md
  internal/ctxt/context.go
  internal/ctxt/merge.go
  internal/ctxt/merge_test.go
  openstack/client.go
  openstack/config/clouds/clouds.go
  openstack/config/clouds/clouds_test.go
  openstack/config/clouds/options.go
  openstack/config/clouds/tls.go
  openstack/config/clouds/types.go
  openstack/config/provider_client.go
  openstack/identity/v2/tokens/requests.go
  openstack/identity/v3/extensions/ec2tokens/requests.go
  openstack/identity/v3/extensions/oauth1/requests.go
  openstack/identity/v3/tokens/requests.go
  pagination/http.go
  pagination/pager.go
  provider_client.go
  service_client.go
Labels: semver:major

#2970 Remove context from the Provider client
  CHANGELOG.md
  internal/ctxt/merge.go
  internal/ctxt/merge_test.go
  provider_client.go
  testing/provider_client_test.go
Labels: semver:major, backport-v2

#2964 Use system scope when running baremetal tests
  .github/workflows/functional-baremetal.yaml
  script/stackenv
Labels: semver:patch

#2976 Report on backporting errors
  .github/workflows/backport_v1.yaml
Labels: semver:patch

#2979 [v1] CI backports
  .github/workflows/codeql-analysis.yml
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-imageservice.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/gomod.yml
  .github/workflows/reauth-retests.yaml
  .github/workflows/semver-auto.yaml
  .github/workflows/unit.yml
  script/stackenv
Labels: semver:patch

#2961 baremetal: fix handling of the "fields" query argument
  internal/acceptance/openstack/baremetal/v1/nodes_test.go
  openstack/baremetal/v1/allocations/requests.go
  openstack/baremetal/v1/conductors/requests.go
  openstack/baremetal/v1/conductors/testing/requests_test.go
  openstack/baremetal/v1/nodes/requests.go
  openstack/baremetal/v1/nodes/testing/requests_test.go
  openstack/baremetal/v1/ports/requests.go
  openstack/baremetal/v1/ports/testing/requests_test.go
  params.go
Labels: semver:patch

#2968 compute: Allow setting the hostname when creating a server
  openstack/compute/v2/servers/requests.go
  openstack/compute/v2/servers/testing/fixtures_test.go
  openstack/compute/v2/servers/testing/requests_test.go
Labels: semver:minor

#2975 Remove v2 branch until we have a need for it
  .github/labels.yaml
  .github/workflows/backport_v2.yaml
Labels: semver:patch

#2987 [CI] Fix portbiding tests
  .github/workflows/functional-fwaas_v2.yaml
Labels: backport-v1, semver:patch

#2986 [CI] Fix trigger for FWaaS v2 presubmit
  .github/workflows/functional-fwaas_v2.yaml
Labels: backport-v1, semver:patch

#2985 [v1] baremetal: fix handling of the "fields" query argument
  internal/acceptance/openstack/baremetal/v1/nodes_test.go
  openstack/baremetal/v1/allocations/requests.go
  openstack/baremetal/v1/conductors/requests.go
  openstack/baremetal/v1/conductors/testing/requests_test.go
  openstack/baremetal/v1/nodes/requests.go
  openstack/baremetal/v1/nodes/testing/requests_test.go
  openstack/baremetal/v1/ports/requests.go
  openstack/baremetal/v1/ports/testing/requests_test.go
  params.go
Labels: semver:patch

#2978 Add bootable filter to v3 cinder list options
  openstack/blockstorage/v3/volumes/requests.go
Labels: semver:minor

#2974 baremetal: support for virtual media attach/detach
  internal/acceptance/openstack/baremetal/v1/nodes_test.go
  openstack/baremetal/v1/nodes/requests.go
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/fixtures_test.go
  openstack/baremetal/v1/nodes/testing/requests_test.go
  openstack/baremetal/v1/nodes/urls.go
Labels: semver:minor

#2990 [CI] Fix portbiding tests
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-networking.yaml
Labels: backport-v1, semver:patch

#2982 [CI] Fix number of args passed to FWaaSv2 tests
  internal/acceptance/openstack/networking/v2/extensions/fwaas_v2/groups_test.go
Labels: semver:patch

#2995 functional-baremetal: remove dnsmasq-base on all versions
  .github/workflows/functional-baremetal.yaml
Labels: semver:patch

#2994 baremetal: add WaitForProvisionState and expand tests
  internal/acceptance/openstack/baremetal/v1/nodes_test.go
  openstack/baremetal/v1/nodes/util.go
Labels: semver:minor

#2957 v2: Context-aware WaitFor
  internal/acceptance/openstack/baremetal/v1/nodes_test.go
  internal/acceptance/openstack/blockstorage/extensions/extensions.go
  internal/acceptance/openstack/blockstorage/extensions/schedulerhints_test.go
  internal/acceptance/openstack/blockstorage/noauth/blockstorage.go
  internal/acceptance/openstack/blockstorage/v1/blockstorage.go
  internal/acceptance/openstack/blockstorage/v2/blockstorage.go
  internal/acceptance/openstack/blockstorage/v2/volumes_test.go
  internal/acceptance/openstack/blockstorage/v3/blockstorage.go
  internal/acceptance/openstack/blockstorage/v3/snapshots_test.go
  internal/acceptance/openstack/blockstorage/v3/volumeattachments.go
  internal/acceptance/openstack/blockstorage/v3/volumes_test.go
  internal/acceptance/openstack/clustering/v1/clustering.go
  internal/acceptance/openstack/compute/v2/compute.go
  internal/acceptance/openstack/compute/v2/servers_test.go
  internal/acceptance/openstack/container/v1/capsules.go
  internal/acceptance/openstack/containerinfra/v1/containerinfra.go
  internal/acceptance/openstack/containerinfra/v1/nodegroups_test.go
  internal/acceptance/openstack/db/v1/db.go
  internal/acceptance/openstack/dns/v2/dns.go
  internal/acceptance/openstack/keymanager/v1/keymanager.go
  internal/acceptance/openstack/loadbalancer/v2/loadbalancer.go
  internal/acceptance/openstack/networking/v2/extensions/agents/agents_test.go
  internal/acceptance/openstack/networking/v2/extensions/fwaas/fwaas.go
  internal/acceptance/openstack/networking/v2/extensions/layer3/layer3.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas_v2/lbaas_v2.go
  internal/acceptance/openstack/networking/v2/networking.go
  internal/acceptance/openstack/orchestration/v1/orchestration.go
  internal/acceptance/openstack/sharedfilesystems/v2/replicas.go
  internal/acceptance/openstack/sharedfilesystems/v2/shareaccessrules.go
  internal/acceptance/openstack/sharedfilesystems/v2/shares.go
  internal/acceptance/openstack/sharedfilesystems/v2/snapshots.go
  internal/acceptance/openstack/workflow/v2/execution.go
  internal/acceptance/tools/tools.go
  openstack/baremetal/v1/nodes/util.go
  openstack/blockstorage/v1/snapshots/util.go
  openstack/blockstorage/v1/volumes/util.go
  openstack/blockstorage/v2/snapshots/util.go
  openstack/blockstorage/v2/volumes/util.go
  openstack/blockstorage/v3/attachments/util.go
  openstack/blockstorage/v3/snapshots/util.go
  openstack/blockstorage/v3/volumes/util.go
  openstack/compute/v2/servers/util.go
  testhelper/convenience.go
  testing/util_test.go
  util.go
Labels: semver:major

#2997 testhelper: mark all helpers with t.Helper
  testhelper/convenience.go
Labels: backport-v1, semver:patch

#2999 tests: Fix lint issues
  internal/acceptance/openstack/container/v1/capsules_test.go
  internal/acceptance/openstack/db/v1/configurations_test.go
  internal/acceptance/openstack/db/v1/flavors_test.go
  internal/acceptance/openstack/db/v1/instances_test.go
  internal/acceptance/openstack/dns/v2/recordsets_test.go
  internal/acceptance/openstack/dns/v2/transfers_test.go
  internal/acceptance/openstack/dns/v2/zones_test.go
  internal/acceptance/openstack/networking/v2/extensions/fwaas/firewall_test.go
Labels: semver:patch

#3002 networking: Remove FWaaS v1
  internal/acceptance/openstack/networking/v2/extensions/fwaas/firewall_test.go
  internal/acceptance/openstack/networking/v2/extensions/fwaas/fwaas.go
  internal/acceptance/openstack/networking/v2/extensions/fwaas/policy_test.go
  internal/acceptance/openstack/networking/v2/extensions/fwaas/rule_test.go
  internal/acceptance/openstack/networking/v2/extensions/vpnaas/service_test.go
  openstack/networking/v2/extensions/fwaas/doc.go
  openstack/networking/v2/extensions/fwaas/firewalls/doc.go
  openstack/networking/v2/extensions/fwaas/firewalls/errors.go
  openstack/networking/v2/extensions/fwaas/firewalls/requests.go
  openstack/networking/v2/extensions/fwaas/firewalls/results.go
  openstack/networking/v2/extensions/fwaas/firewalls/testing/doc.go
  openstack/networking/v2/extensions/fwaas/firewalls/testing/requests_test.go
  openstack/networking/v2/extensions/fwaas/firewalls/urls.go
  openstack/networking/v2/extensions/fwaas/policies/doc.go
  openstack/networking/v2/extensions/fwaas/policies/requests.go
  openstack/networking/v2/extensions/fwaas/policies/results.go
  openstack/networking/v2/extensions/fwaas/policies/testing/doc.go
  openstack/networking/v2/extensions/fwaas/policies/testing/requests_test.go
  openstack/networking/v2/extensions/fwaas/policies/urls.go
  openstack/networking/v2/extensions/fwaas/routerinsertion/doc.go
  openstack/networking/v2/extensions/fwaas/routerinsertion/requests.go
  openstack/networking/v2/extensions/fwaas/routerinsertion/results.go
  openstack/networking/v2/extensions/fwaas/routerinsertion/testing/doc.go
  openstack/networking/v2/extensions/fwaas/routerinsertion/testing/requests_test.go
  openstack/networking/v2/extensions/fwaas/rules/doc.go
  openstack/networking/v2/extensions/fwaas/rules/errors.go
  openstack/networking/v2/extensions/fwaas/rules/requests.go
  openstack/networking/v2/extensions/fwaas/rules/results.go
  openstack/networking/v2/extensions/fwaas/rules/testing/doc.go
  openstack/networking/v2/extensions/fwaas/rules/testing/requests_test.go
  openstack/networking/v2/extensions/fwaas/rules/urls.go
Labels: semver:major

#3003 networking: Remove LBaaS v1
  internal/acceptance/openstack/networking/v2/extensions/lbaas/lbaas.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas/members_test.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas/monitors_test.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas/pools_test.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas/vips_test.go
  openstack/networking/v2/extensions/lbaas/doc.go
  openstack/networking/v2/extensions/lbaas/members/doc.go
  openstack/networking/v2/extensions/lbaas/members/requests.go
  openstack/networking/v2/extensions/lbaas/members/results.go
  openstack/networking/v2/extensions/lbaas/members/testing/doc.go
  openstack/networking/v2/extensions/lbaas/members/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas/members/urls.go
  openstack/networking/v2/extensions/lbaas/monitors/doc.go
  openstack/networking/v2/extensions/lbaas/monitors/requests.go
  openstack/networking/v2/extensions/lbaas/monitors/results.go
  openstack/networking/v2/extensions/lbaas/monitors/testing/doc.go
  openstack/networking/v2/extensions/lbaas/monitors/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas/monitors/urls.go
  openstack/networking/v2/extensions/lbaas/pools/doc.go
  openstack/networking/v2/extensions/lbaas/pools/requests.go
  openstack/networking/v2/extensions/lbaas/pools/results.go
  openstack/networking/v2/extensions/lbaas/pools/testing/doc.go
  openstack/networking/v2/extensions/lbaas/pools/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas/pools/urls.go
  openstack/networking/v2/extensions/lbaas/vips/doc.go
  openstack/networking/v2/extensions/lbaas/vips/requests.go
  openstack/networking/v2/extensions/lbaas/vips/results.go
  openstack/networking/v2/extensions/lbaas/vips/testing/doc.go
  openstack/networking/v2/extensions/lbaas/vips/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas/vips/urls.go
Labels: semver:major

#3004 networking: Remove LBaaS v2
  internal/acceptance/openstack/networking/v2/extensions/lbaas_v2/l7policies_test.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas_v2/lbaas_v2.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas_v2/listeners_test.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas_v2/loadbalancers_test.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas_v2/monitors_test.go
  internal/acceptance/openstack/networking/v2/extensions/lbaas_v2/pools_test.go
  openstack/networking/v2/extensions/lbaas_v2/doc.go
  openstack/networking/v2/extensions/lbaas_v2/l7policies/doc.go
  openstack/networking/v2/extensions/lbaas_v2/l7policies/requests.go
  openstack/networking/v2/extensions/lbaas_v2/l7policies/results.go
  openstack/networking/v2/extensions/lbaas_v2/l7policies/testing/doc.go
  openstack/networking/v2/extensions/lbaas_v2/l7policies/testing/fixtures_test.go
  openstack/networking/v2/extensions/lbaas_v2/l7policies/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas_v2/l7policies/urls.go
  openstack/networking/v2/extensions/lbaas_v2/listeners/doc.go
  openstack/networking/v2/extensions/lbaas_v2/listeners/requests.go
  openstack/networking/v2/extensions/lbaas_v2/listeners/results.go
  openstack/networking/v2/extensions/lbaas_v2/listeners/testing/doc.go
  openstack/networking/v2/extensions/lbaas_v2/listeners/testing/fixtures_test.go
  openstack/networking/v2/extensions/lbaas_v2/listeners/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas_v2/listeners/urls.go
  openstack/networking/v2/extensions/lbaas_v2/loadbalancers/doc.go
  openstack/networking/v2/extensions/lbaas_v2/loadbalancers/requests.go
  openstack/networking/v2/extensions/lbaas_v2/loadbalancers/results.go
  openstack/networking/v2/extensions/lbaas_v2/loadbalancers/testing/doc.go
  openstack/networking/v2/extensions/lbaas_v2/loadbalancers/testing/fixtures_test.go
  openstack/networking/v2/extensions/lbaas_v2/loadbalancers/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas_v2/loadbalancers/urls.go
  openstack/networking/v2/extensions/lbaas_v2/monitors/doc.go
  openstack/networking/v2/extensions/lbaas_v2/monitors/requests.go
  openstack/networking/v2/extensions/lbaas_v2/monitors/results.go
  openstack/networking/v2/extensions/lbaas_v2/monitors/testing/doc.go
  openstack/networking/v2/extensions/lbaas_v2/monitors/testing/fixtures_test.go
  openstack/networking/v2/extensions/lbaas_v2/monitors/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas_v2/monitors/urls.go
  openstack/networking/v2/extensions/lbaas_v2/pools/doc.go
  openstack/networking/v2/extensions/lbaas_v2/pools/requests.go
  openstack/networking/v2/extensions/lbaas_v2/pools/results.go
  openstack/networking/v2/extensions/lbaas_v2/pools/testing/doc.go
  openstack/networking/v2/extensions/lbaas_v2/pools/testing/fixtures_test.go
  openstack/networking/v2/extensions/lbaas_v2/pools/testing/requests_test.go
  openstack/networking/v2/extensions/lbaas_v2/pools/urls.go
Labels: semver:major

#3007 Remove CDN fixtures
  openstack/cdn/v1/base/testing/fixtures_test.go
  openstack/cdn/v1/flavors/testing/fixtures_test.go
  openstack/cdn/v1/serviceassets/testing/fixtures_test.go
  openstack/cdn/v1/services/testing/fixtures_test.go
Labels: backport-v1, semver:patch

#3008 blockstorage: Remove v1 implementation
  internal/acceptance/openstack/blockstorage/v1/blockstorage.go
  internal/acceptance/openstack/blockstorage/v1/pkg.go
  internal/acceptance/openstack/blockstorage/v1/snapshots_test.go
  internal/acceptance/openstack/blockstorage/v1/volumes_test.go
  internal/acceptance/openstack/blockstorage/v1/volumetypes_test.go
  openstack/blockstorage/v1/apiversions/doc.go
  openstack/blockstorage/v1/apiversions/requests.go
  openstack/blockstorage/v1/apiversions/results.go
  openstack/blockstorage/v1/apiversions/testing/doc.go
  openstack/blockstorage/v1/apiversions/testing/fixtures_test.go
  openstack/blockstorage/v1/apiversions/testing/requests_test.go
  openstack/blockstorage/v1/apiversions/urls.go
  openstack/blockstorage/v1/snapshots/doc.go
  openstack/blockstorage/v1/snapshots/requests.go
  openstack/blockstorage/v1/snapshots/results.go
  openstack/blockstorage/v1/snapshots/testing/doc.go
  openstack/blockstorage/v1/snapshots/testing/fixtures_test.go
  openstack/blockstorage/v1/snapshots/testing/requests_test.go
  openstack/blockstorage/v1/snapshots/urls.go
  openstack/blockstorage/v1/snapshots/util.go
  openstack/blockstorage/v1/volumes/doc.go
  openstack/blockstorage/v1/volumes/requests.go
  openstack/blockstorage/v1/volumes/results.go
  openstack/blockstorage/v1/volumes/testing/doc.go
  openstack/blockstorage/v1/volumes/testing/fixtures_test.go
  openstack/blockstorage/v1/volumes/testing/requests_test.go
  openstack/blockstorage/v1/volumes/urls.go
  openstack/blockstorage/v1/volumes/util.go
  openstack/blockstorage/v1/volumetypes/doc.go
  openstack/blockstorage/v1/volumetypes/requests.go
  openstack/blockstorage/v1/volumetypes/results.go
  openstack/blockstorage/v1/volumetypes/testing/doc.go
  openstack/blockstorage/v1/volumetypes/testing/fixtures_test.go
  openstack/blockstorage/v1/volumetypes/testing/requests_test.go
  openstack/blockstorage/v1/volumetypes/urls.go
Labels: semver:major
