Repository gophercloud/gophercloud, pull requests merged in 2024-05, with the labels that each got.

#3041 clouds: Fix secure.yaml parsing
  openstack/config/clouds/clouds.go
  openstack/config/clouds/clouds_test.go
Labels: semver:patch

#3040 clouds: Fix the clouds.yaml locations
  openstack/config/clouds/clouds.go
  openstack/config/clouds/clouds_test.go
Labels: semver:patch

#3037 Support list-modify-delete project tags api calls
  internal/acceptance/openstack/identity/v3/projects_test.go
  openstack/identity/v3/projects/doc.go
  openstack/identity/v3/projects/requests.go
  openstack/identity/v3/projects/results.go
  openstack/identity/v3/projects/testing/fixtures_test.go
  openstack/identity/v3/projects/testing/requests_test.go
  openstack/identity/v3/projects/urls.go
Labels: semver:minor

#3036 Add support for implied roles
  internal/acceptance/openstack/identity/v3/roles_test.go
  openstack/identity/v3/roles/doc.go
  openstack/identity/v3/roles/requests.go
  openstack/identity/v3/roles/results.go
  openstack/identity/v3/roles/testing/fixtures_test.go
  openstack/identity/v3/roles/testing/requests_test.go
  openstack/identity/v3/roles/urls.go
Labels: semver:minor

#3035 Add ci jobs for openstack caracal
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch

#3042 CI: remove Zed from testing coverage
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch

#2940 Add minimal Makefile
  .gitignore
  Makefile
Labels: semver:patch

#3005 tests: Add skips for feature- or configuration-dependent tests
  internal/acceptance/clients/clients.go
  internal/acceptance/clients/conditions.go
  internal/acceptance/openstack/baremetal/noauth/allocations_test.go
  internal/acceptance/openstack/baremetal/noauth/nodes_test.go
  internal/acceptance/openstack/baremetal/noauth/ports_test.go
  internal/acceptance/openstack/blockstorage/noauth/snapshots_test.go
  internal/acceptance/openstack/blockstorage/noauth/volumes_test.go
  internal/acceptance/openstack/networking/v2/conditions.go
  internal/acceptance/openstack/networking/v2/extensions/dns/dns_test.go
  internal/acceptance/openstack/networking/v2/extensions/fwaas_v2/groups_test.go
  internal/acceptance/openstack/networking/v2/extensions/fwaas_v2/policy_test.go
  internal/acceptance/openstack/networking/v2/extensions/fwaas_v2/rule_test.go
  internal/acceptance/openstack/networking/v2/extensions/layer3/l3_scheduling_test.go
  internal/acceptance/openstack/networking/v2/extensions/mtu/mtu_test.go
  internal/acceptance/openstack/networking/v2/extensions/qos/policies/policies_test.go
  internal/acceptance/openstack/networking/v2/extensions/qos/rules/rules_test.go
  internal/acceptance/openstack/networking/v2/extensions/qos/ruletypes/ruletypes_test.go
  internal/acceptance/openstack/networking/v2/extensions/trunk_details/trunks_test.go
  internal/acceptance/openstack/networking/v2/extensions/trunks/trunks_test.go
  internal/acceptance/openstack/networking/v2/extensions/vlantransparent/vlantransparent_test.go
Labels: semver:patch

#3022 compute, block storage: Rework scheduler hints
  internal/acceptance/openstack/blockstorage/noauth/blockstorage.go
  internal/acceptance/openstack/blockstorage/v2/blockstorage.go
  internal/acceptance/openstack/blockstorage/v2/schedulerhints_test.go
  internal/acceptance/openstack/blockstorage/v2/volumes_test.go
  internal/acceptance/openstack/blockstorage/v3/blockstorage.go
  internal/acceptance/openstack/blockstorage/v3/schedulerhints_test.go
  internal/acceptance/openstack/blockstorage/v3/volumes_test.go
  internal/acceptance/openstack/compute/v2/compute.go
  openstack/blockstorage/v2/volumes/doc.go
  openstack/blockstorage/v2/volumes/requests.go
  openstack/blockstorage/v2/volumes/testing/requests_test.go
  openstack/blockstorage/v3/volumes/doc.go
  openstack/blockstorage/v3/volumes/requests.go
  openstack/blockstorage/v3/volumes/testing/requests_test.go
  openstack/compute/v2/servers/doc.go
  openstack/compute/v2/servers/requests.go
  openstack/compute/v2/servers/testing/fixtures_test.go
  openstack/compute/v2/servers/testing/requests_test.go
Labels: semver:major

#3051 README: Add matrix of supported services
  README.md
Labels: semver:patch

#3053 Enable openstack-client-server service in functional jobs
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch

#3052 CI: baremetal: also use system scope in 2024.1
  .github/workflows/functional-baremetal.yaml
Labels: semver:patch

#3054 CI: Capture service logs
  script/collectlogs
Labels: semver:patch

#3059 [v1] Prepare v1.12.0
  CHANGELOG.md
  provider_client.go
Labels: semver:minor

#3058 Add more L7 rule types
  openstack/loadbalancer/v2/l7policies/requests.go
Labels: semver:minor

#3056 Fix godoc strings
  internal/acceptance/openstack/baremetal/httpbasic/pkg.go
  internal/acceptance/openstack/baremetal/noauth/pkg.go
  internal/acceptance/openstack/baremetal/v1/pkg.go
  internal/acceptance/openstack/blockstorage/noauth/pkg.go
  internal/acceptance/openstack/blockstorage/v2/pkg.go
  internal/acceptance/openstack/blockstorage/v3/pkg.go
  internal/acceptance/openstack/compute/v2/pkg.go
  internal/acceptance/openstack/container/v1/pkg.go
  internal/acceptance/openstack/containerinfra/v1/pkg.go
  internal/acceptance/openstack/db/v1/pkg.go
  internal/acceptance/openstack/dns/v2/pkg.go
  internal/acceptance/openstack/identity/v2/pkg.go
  internal/acceptance/openstack/identity/v3/pkg.go
  internal/acceptance/openstack/image/v2/pkg.go
  internal/acceptance/openstack/keymanager/v1/pkg.go
  internal/acceptance/openstack/loadbalancer/v2/pkg.go
  internal/acceptance/openstack/messaging/v2/pkg.go
  internal/acceptance/openstack/networking/v2/pkg.go
  internal/acceptance/openstack/objectstorage/v1/pkg.go
  internal/acceptance/openstack/orchestration/v1/pkg.go
  internal/acceptance/openstack/pkg.go
  internal/acceptance/openstack/placement/v1/pkg.go
  internal/acceptance/openstack/sharedfilesystems/v2/pkg.go
  internal/acceptance/openstack/workflow/v2/pkg.go
  internal/acceptance/tools/pkg.go
Labels: semver:patch

#3001 Misc CI improvements
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/gomod.yml
  .github/workflows/lint.yaml
  .github/workflows/reauth-retests.yaml
  .github/workflows/unit.yml
  script/acceptancetest
  script/cibuild
  script/collectlogs
  script/coverage
  script/format
  script/stackenv
  script/test
  script/unittest
  script/vet
Labels: semver:patch

#2655 identity: use AuthOptionsBuilder for v2 auth
  openstack/client.go
  openstack/client_test.go
  openstack/identity/v2/tokens/requests.go
Labels: semver:major
