Repository gophercloud/gophercloud, pull requests merged in 2024-07, with the labels that each got.

#3079 [tests]: increase timeout for the TestBGPAgentRUD test
  internal/acceptance/openstack/networking/v2/extensions/agents/agents_test.go
Labels: semver:patch

#3078 [networking]: add BGP VPNs support
  .github/workflows/functional-networking.yaml
  internal/acceptance/openstack/networking/v2/extensions/bgpvpns/bgpvpns.go
  internal/acceptance/openstack/networking/v2/extensions/bgpvpns/bgpvpns_test.go
  internal/acceptance/openstack/networking/v2/extensions/bgpvpns/doc.go
  openstack/networking/v2/extensions/bgpvpns/doc.go
  openstack/networking/v2/extensions/bgpvpns/requests.go
  openstack/networking/v2/extensions/bgpvpns/results.go
  openstack/networking/v2/extensions/bgpvpns/testing/doc.go
  openstack/networking/v2/extensions/bgpvpns/testing/fixture.go
  openstack/networking/v2/extensions/bgpvpns/testing/requests_test.go
  openstack/networking/v2/extensions/bgpvpns/urls.go
Labels: semver:minor

#3080 [networking]: add BGP VPNs support (backport to 1.x)
  .github/workflows/functional-networking.yaml
  internal/acceptance/openstack/networking/v2/extensions/bgpvpns/bgpvpns.go
  internal/acceptance/openstack/networking/v2/extensions/bgpvpns/bgpvpns_test.go
  internal/acceptance/openstack/networking/v2/extensions/bgpvpns/doc.go
  openstack/networking/v2/extensions/bgpvpns/doc.go
  openstack/networking/v2/extensions/bgpvpns/requests.go
  openstack/networking/v2/extensions/bgpvpns/results.go
  openstack/networking/v2/extensions/bgpvpns/testing/doc.go
  openstack/networking/v2/extensions/bgpvpns/testing/fixture.go
  openstack/networking/v2/extensions/bgpvpns/testing/requests_test.go
  openstack/networking/v2/extensions/bgpvpns/urls.go
Labels: semver:minor

#3084 MIGRATING: Add additional context on removed services, APIs
  docs/MIGRATING.md
Labels: semver:patch

#3082 MIGRATING.md: Mention compute limits
  docs/MIGRATING.md
Labels: semver:patch

#3088 MIGRATING.md: SchedulerHintOpts
  docs/MIGRATING.md
Labels: semver:patch

#3094 [neutron]: introduce Description argument for the portforwarding
  internal/acceptance/openstack/networking/v2/extensions/layer3/layer3.go
  internal/acceptance/openstack/networking/v2/extensions/layer3/portforwardings_test.go
  openstack/networking/v2/extensions/layer3/portforwarding/requests.go
  openstack/networking/v2/extensions/layer3/portforwarding/results.go
Labels: semver:minor

#3092 [neutron]: introduce Stateful argument for the security groups
  internal/acceptance/openstack/networking/v2/extensions/security_test.go
  openstack/networking/v2/extensions/security/groups/requests.go
  openstack/networking/v2/extensions/security/groups/results.go
Labels: semver:major

#3095 [neutron]: introduce Description argument for the portforwarding
  internal/acceptance/openstack/networking/v2/extensions/layer3/layer3.go
  internal/acceptance/openstack/networking/v2/extensions/layer3/portforwardings_test.go
  openstack/networking/v2/extensions/layer3/portforwarding/requests.go
  openstack/networking/v2/extensions/layer3/portforwarding/results.go
Labels: semver:minor

#3090 Adding support for field dns_publish_fixed_ip in a subnet
  openstack/networking/v2/subnets/requests.go
  openstack/networking/v2/subnets/results.go
  openstack/networking/v2/subnets/testing/fixtures_test.go
  openstack/networking/v2/subnets/testing/requests_test.go
Labels: semver:minor

#3099 [networking]: subnet add field dns_publish_fixed_ip
  openstack/networking/v2/subnets/requests.go
  openstack/networking/v2/subnets/results.go
  openstack/networking/v2/subnets/testing/fixtures_test.go
  openstack/networking/v2/subnets/testing/requests_test.go
Labels: semver:minor

#3100 [tests]: bump golang to 1.22
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch

#3101 [gophercloud v2]: introduce v2 branch with a backport functionality
  .github/labels.yaml
  .github/workflows/backport_v2.yaml
Labels: semver:patch

#3109 Consolidate backporting workflows
  .github/workflows/backport.yaml
  .github/workflows/backport_v2.yaml
Labels: semver:patch

#3110 Bump git-backporting
  .github/workflows/backport.yaml
Labels: semver:patch

#3107 CI: Append job ID to artifact name
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch

#3106 clouds: Parse trust_id from clouds.yaml
  openstack/config/clouds/clouds.go
  openstack/config/clouds/types.go
Labels: semver:minor, backport-v2

#3116 Block `semver:minor` backports to v1
  .github/workflows/backport.yaml
Labels: semver:patch

#3114 tests: Remove service update integration test
  internal/acceptance/openstack/compute/v2/services_test.go
Labels: semver:patch

#3122 [v1] actions: Add a label to hold merging
  .github/workflows/check-pr-labels.yaml
Labels: semver:patch

#3124 actions: Correctly refresh hold state
  .github/workflows/check-pr-labels.yaml
Labels: backport-v1, semver:patch, backport-v2

#3085 MIGRATING.md: Provide a migration script
  docs/MIGRATING.md
Labels: semver:patch, backport-v2

#3098 [neutron]: introduce Stateful argument for the security groups
  internal/acceptance/openstack/networking/v2/extensions/security_test.go
  openstack/networking/v2/extensions/security/groups/requests.go
  openstack/networking/v2/extensions/security/groups/results.go
Labels: semver:minor

#3128 actions: Refactor the semver assessment
  .github/labels.yaml
  .github/workflows/semver-auto.yaml
Labels: backport-v1, semver:patch, github_actions, backport-v2

#3132 [v1] actions: Refactor the semver assessment
  .github/labels.yaml
  .github/workflows/semver-auto.yaml
Labels: semver:patch

#3119 [v2] [neutron]: introduce Stateful argument for the security groups
  internal/acceptance/openstack/networking/v2/extensions/security_test.go
  openstack/networking/v2/extensions/security/groups/requests.go
  openstack/networking/v2/extensions/security/groups/results.go
Labels: semver:minor

#3138 Add needinfo label
  .github/labels.yaml
  .github/workflows/label-issue.yaml
Labels: semver:patch

#3140 Github templates: Hide suggestions
  .github/ISSUE_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
Labels: semver:patch

#3131 Align ServiceFail provisioning state value with Ironic
  openstack/baremetal/v1/nodes/requests.go
Labels: backport-v1, semver:patch, backport-v2

#3146 chore: Sync labels with master
  .github/labels.yaml
Labels: semver:patch

#3148 Prepare v2.1.0
  CHANGELOG.md
  provider_client.go
Labels: semver:major, backport-v2, edit:gophercloud

#3136 Added node.Retired
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/fixtures_test.go
Labels: semver:minor, backport-v2

#3152 Prepare v2.1.0
  CHANGELOG.md
Labels: semver:patch, backport-v2, edit:gophercloud

#3155 chore: Set UNRELEASED user-agent
  provider_client.go
Labels: semver:patch, edit:gophercloud

#3157 fix: create security group rule with any protocol
  openstack/networking/v2/extensions/security/rules/requests.go
  openstack/networking/v2/extensions/security/rules/testing/requests_test.go
Labels: backport-v1, semver:patch, backport-v2, edit:networking

#3162 Fix security group rule "any protocol"
  openstack/networking/v2/extensions/security/rules/requests.go
Labels: semver:patch, edit:networking, v1
