Repository gophercloud/gophercloud, pull requests merged in 2024-10, with the labels that each got.

#3188 [core]: handle empty response body
  openstack/networking/v2/extensions/bgp/speakers/requests.go
  openstack/networking/v2/extensions/bgp/speakers/testing/requests_test.go
Labels: semver:patch, edit:networking, edit:gophercloud

#3189 [fwaas_v2]: proper ParseResponse handling
  openstack/networking/v2/extensions/fwaas_v2/groups/requests.go
  openstack/networking/v2/extensions/fwaas_v2/policies/requests.go
Labels: semver:patch, edit:networking

#3194 CI: bump to latest stable OpenStack (2024.2)
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch, edit:actions, edit:testinfra

#3197 compute: Fix expected and actual test results
  internal/acceptance/openstack/compute/v2/attachinterfaces_test.go
  internal/acceptance/openstack/compute/v2/availabilityzones_test.go
  internal/acceptance/openstack/compute/v2/bootfromvolume_test.go
  internal/acceptance/openstack/compute/v2/compute.go
  internal/acceptance/openstack/compute/v2/extension_test.go
  internal/acceptance/openstack/compute/v2/flavors_test.go
  internal/acceptance/openstack/compute/v2/instance_actions_test.go
  internal/acceptance/openstack/compute/v2/keypairs_test.go
  internal/acceptance/openstack/compute/v2/limits_test.go
  internal/acceptance/openstack/compute/v2/quotaset_test.go
  internal/acceptance/openstack/compute/v2/secgroup_test.go
  internal/acceptance/openstack/compute/v2/servergroup_test.go
  internal/acceptance/openstack/compute/v2/servers_test.go
  internal/acceptance/openstack/compute/v2/services_test.go
  internal/acceptance/openstack/compute/v2/volumeattach_test.go
Labels: semver:patch, edit:compute

#3193 [octavia] add an ability to filter flavors and flavorprofiles
  openstack/loadbalancer/v2/flavorprofiles/requests.go
  openstack/loadbalancer/v2/flavors/requests.go
  openstack/loadbalancer/v2/flavors/testing/requests_test.go
Labels: semver:minor, edit:loadbalancer

#3211 [manila] add scheduler_hints to the shares CreateOpts
  openstack/sharedfilesystems/v2/shares/requests.go
  openstack/sharedfilesystems/v2/shares/testing/fixtures_test.go
  openstack/sharedfilesystems/v2/shares/testing/request_test.go
Labels: semver:minor, backport-v2, edit:sharedfilesystems

#3205 [manila] add share_group_id to share's CreateOpts
  openstack/sharedfilesystems/v2/shares/requests.go
  openstack/sharedfilesystems/v2/shares/results.go
Labels: semver:minor, backport-v2, edit:sharedfilesystems

#3220 Prepare v2.2.0
  CHANGELOG.md
  provider_client.go
Labels: semver:minor, v2, edit:gophercloud

#3221 Fix clear-needinfo
  .github/workflows/label-issue.yaml
Labels: backport-v1, semver:patch, backport-v2, edit:actions
