Repository gophercloud/gophercloud, pull requests merged in 2024-02, with the labels that each got.

#2883 Context-aware methods to ProviderClient and ServiceClient
  .github/workflows/codeql-analysis.yml
  .github/workflows/unit.yml
  go.mod
  go.sum
  internal/ctxt/merge.go
  internal/ctxt/merge_test.go
  provider_client.go
  service_client.go
Labels: semver:minor

#2884 [v1] Context-aware methods to ProviderClient and ServiceClient
  internal/ctxt/context.go
  internal/ctxt/merge.go
  internal/ctxt/merge_test.go
  provider_client.go
  service_client.go
Labels: semver:minor

#2881 Adding missing QoS field for router
  openstack/networking/v2/extensions/layer3/routers/results.go
  openstack/networking/v2/extensions/layer3/routers/testing/requests_test.go
Labels: semver:minor

#2888 Prepare v1.9.0
  CHANGELOG.md
  provider_client.go
Labels: semver:major

#2890 authentication: Add WithContext functions
  openstack/client.go
  openstack/identity/v2/tokens/requests.go
  openstack/identity/v3/extensions/ec2tokens/requests.go
  openstack/identity/v3/extensions/oauth1/requests.go
  openstack/identity/v3/tokens/requests.go
Labels: backport-v1, semver:minor

#2891 test: Restructure actions
  .github/workflows/go-fmt.yaml
  .github/workflows/go-mod.yaml
  .github/workflows/go-vet.yaml
  .github/workflows/unit-reauth.yaml
  .github/workflows/unit.yml
  script/format
  script/unittest
Labels: backport-v1, semver:patch

#2889 pager: Add WithContext functions
  pagination/http.go
  pagination/pager.go
Labels: backport-v1, semver:minor

#2896 Revert "test: Restructure actions"
  .github/workflows/go-fmt.yaml
  .github/workflows/go-mod.yaml
  .github/workflows/gomod.yml
  .github/workflows/reauth-retests.yaml
  .github/workflows/unit.yml
  script/format
  script/unittest
Labels: semver:patch

#2886 Fix value_specs implementation
  openstack/networking/v2/ports/requests.go
  openstack/networking/v2/ports/results.go
  openstack/networking/v2/ports/testing/fixtures.go
  openstack/networking/v2/ports/testing/requests_test.go
Labels: semver:major

#2892 Authenticate with a clouds.yaml
  openstack/config/clouds/clouds.go
  openstack/config/clouds/clouds_test.go
  openstack/config/clouds/options.go
  openstack/config/clouds/tls.go
  openstack/config/clouds/types.go
  openstack/config/provider_client.go
Labels: semver:minor

#2903 CHANGELOG: Plus one to the breaking changes
  CHANGELOG.md
Labels: semver:patch

#2901 Set the user agent to `v2-unreleased`
  provider_client.go
Labels: semver:major

#2911 build(deps): bump EmilienM/devstack-action from 0.11 to 0.14
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-clustering.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-imageservice.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch

#2882 db/v1/instance: Add configuration to createOpts
  openstack/db/v1/instances/requests.go
  openstack/db/v1/instances/testing/fixtures_test.go
  openstack/db/v1/instances/testing/requests_test.go
Labels: semver:minor

#2914 v2: Add ParseOption type to made clouds.Parse() more usable for optional With* funcs
  openstack/config/clouds/clouds.go
  openstack/config/clouds/options.go
Labels: backport-v1, semver:minor

#2922 replace deprecated library
  openstack/identity/v3/extensions/ec2tokens/requests.go
Labels: semver:patch, backport-v2

#2921 simplify conditional expressions
  openstack/baremetal/v1/conductors/requests.go
  openstack/baremetal/v1/nodes/requests.go
  openstack/compute/v2/extensions/usage/requests.go
Labels: semver:patch, backport-v2

#2928 change coding style
  openstack/config/clouds/clouds.go
  params.go
Labels: semver:patch, backport-v2

#2932 Fix AllowReauth reauthentication
  internal/acceptance/openstack/client_test.go
  openstack/client.go
  provider_client.go
  testing/provider_client_test.go
Labels: semver:major, backport-v2

#2935 provider client: Reauthenticate with context
  provider_client.go
Labels: semver:major, backport-v2

#2933 [v1] Fix AllowReauth reauthentication
  openstack/client.go
Labels: semver:patch

#2944 CHANGELOG: Add context
  CHANGELOG.md
Labels: semver:patch, backport-v2

#2950 [v1] compute: Use volumeID, not attachmentID for volume attachments
  openstack/compute/v2/extensions/volumeattach/doc.go
  openstack/compute/v2/extensions/volumeattach/requests.go
Labels: semver:patch

#2952 Prepare v1.10.0
  CHANGELOG.md
  provider_client.go
Labels: semver:major
