Repository gophercloud/gophercloud, pull requests merged in 2025-05, with the labels that each got.

#3373 CI: Remove Bobcat
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/functional-workflow.yaml
Labels: semver:patch, edit:actions, edit:testinfra

#3375 [v2] core: add missing Builder interfaces
  openstack/blockstorage/v2/backups/requests.go
  openstack/blockstorage/v2/transfers/requests.go
  openstack/blockstorage/v2/volumes/requests.go
  openstack/blockstorage/v3/backups/requests.go
  openstack/blockstorage/v3/transfers/requests.go
  openstack/blockstorage/v3/volumes/requests.go
  openstack/compute/v2/aggregates/requests.go
  openstack/compute/v2/services/requests.go
  openstack/identity/v3/ec2credentials/requests.go
  openstack/identity/v3/oauth1/requests.go
  openstack/identity/v3/projects/requests.go
  openstack/loadbalancer/v2/flavorprofiles/requests.go
  openstack/loadbalancer/v2/flavors/requests.go
  openstack/loadbalancer/v2/l7policies/requests.go
  openstack/loadbalancer/v2/listeners/requests.go
  openstack/loadbalancer/v2/loadbalancers/requests.go
  openstack/networking/v2/extensions/bgp/peers/requests.go
  openstack/networking/v2/extensions/bgp/speakers/requests.go
  openstack/networking/v2/extensions/bgpvpns/requests.go
  openstack/networking/v2/extensions/layer3/routers/requests.go
  openstack/networking/v2/extensions/security/rules/requests.go
  openstack/sharedfilesystems/v2/sharetransfers/requests.go
Labels: semver:major, edit:networking, edit:loadbalancer, edit:compute, v2, edit:sharedfilesystems, edit:blockstorage, edit:identity

#3382 tests: Fix TestBGPAgentCRUD
  .github/workflows/functional-networking.yaml
  internal/acceptance/openstack/networking/v2/extensions/agents/agents_test.go
Labels: semver:patch, edit:networking, edit:actions, edit:testinfra

#3374 Move master CI jobs to Ubuntu 24.04
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/functional-workflow.yaml
Labels: semver:patch, edit:actions, edit:testinfra

#3000 Update the doc of openstack.AuthOptionsFromEnv function
  openstack/auth_env.go
Labels: backport-v1, semver:patch, backport-v2, edit:openstack

#3329 networking: add constants for statuses
  openstack/networking/v2/apiversions/constants.go
  openstack/networking/v2/extensions/layer3/floatingips/constants.go
  openstack/networking/v2/extensions/trunks/constants.go
  openstack/networking/v2/extensions/vpnaas/services/constants.go
  openstack/networking/v2/extensions/vpnaas/siteconnections/constants.go
  openstack/networking/v2/networks/constants.go
  openstack/networking/v2/ports/constants.go
Labels: semver:minor, backport-v2, edit:networking

#3390 dns: implement shared zones list
  internal/acceptance/openstack/dns/v2/dns.go
  internal/acceptance/openstack/dns/v2/shares_test.go
  openstack/dns/v2/zones/requests.go
  openstack/dns/v2/zones/results.go
  openstack/dns/v2/zones/testing/fixtures_test.go
  openstack/dns/v2/zones/testing/requests_test.go
  openstack/dns/v2/zones/urls.go
Labels: semver:major, backport-v2, edit:networking, edit:dns, edit:actions, edit:testinfra

#3386 [v2] tests: Fix TestBGPAgentCRUD
  .github/workflows/functional-networking.yaml
  internal/acceptance/openstack/networking/v2/extensions/agents/agents_test.go
Labels: semver:patch, edit:networking, edit:actions, v2, edit:testinfra

#3392 acceptance: Prevent 409 when bulk-creating secgroup rules
  internal/acceptance/openstack/networking/v2/extensions/extensions.go
Labels: backport-v1, semver:patch, backport-v2, edit:networking, edit:testinfra

#3370 identity: add support for string boolean in users' enabled member
  openstack/identity/v3/users/results.go
  openstack/identity/v3/users/testing/fixtures_test.go
Labels: semver:patch, backport-v2, edit:identity

#3332 blockstorage: add manage-existing and unmanage api call
  internal/acceptance/openstack/blockstorage/v3/blockstorage.go
  internal/acceptance/openstack/blockstorage/v3/manageablevolumes_test.go
  openstack/blockstorage/v3/manageablevolumes/doc.go
  openstack/blockstorage/v3/manageablevolumes/requests.go
  openstack/blockstorage/v3/manageablevolumes/results.go
  openstack/blockstorage/v3/manageablevolumes/testing/doc.go
  openstack/blockstorage/v3/manageablevolumes/testing/fixtures_test.go
  openstack/blockstorage/v3/manageablevolumes/testing/requests_test.go
  openstack/blockstorage/v3/manageablevolumes/urls.go
  openstack/blockstorage/v3/volumes/doc.go
  openstack/blockstorage/v3/volumes/requests.go
  openstack/blockstorage/v3/volumes/results.go
  openstack/blockstorage/v3/volumes/testing/fixtures_test.go
  openstack/blockstorage/v3/volumes/testing/requests_test.go
Labels: semver:minor, edit:blockstorage

#3397 [v2] Adjust List func to accept a Builder in tenants, routers and security groups packages
  openstack/identity/v2/tenants/requests.go
  openstack/networking/v2/extensions/layer3/routers/requests.go
  openstack/networking/v2/extensions/security/rules/requests.go
Labels: semver:major, edit:networking, v2, edit:identity

#3400 Fix broken build from #3332
  internal/acceptance/openstack/blockstorage/v3/blockstorage.go
  openstack/blockstorage/v3/manageablevolumes/testing/fixtures_test.go
  openstack/blockstorage/v3/manageablevolumes/testing/requests_test.go
  openstack/blockstorage/v3/volumes/testing/fixtures_test.go
  openstack/blockstorage/v3/volumes/testing/requests_test.go
  script/getenvvar
Labels: semver:patch, edit:blockstorage, edit:testinfra

#3405 Automatically backport based on semver
  .github/workflows/label-pr.yaml
Labels: semver:patch, edit:actions
