Repository gophercloud/gophercloud, pull requests merged in 2025-04, with the labels that each got.

#3344 Prepare v2.7.0
  CHANGELOG.md
  provider_client.go
Labels: semver:major, v2, edit:gophercloud

#3353 Fix a small typo
  openstack/config/clouds/clouds.go
Labels: semver:patch, backport-v2, edit:config

#3357 tests: fix devstack master branch tests
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-sharedfilesystems.yaml
Labels: semver:patch, edit:actions, edit:testinfra

#3356 octavia: fix http_version type to float
  internal/acceptance/openstack/loadbalancer/v2/loadbalancer.go
  openstack/loadbalancer/v2/monitors/requests.go
  openstack/loadbalancer/v2/monitors/results.go
  openstack/loadbalancer/v2/monitors/testing/fixtures_test.go
  openstack/loadbalancer/v2/monitors/testing/requests_test.go
Labels: semver:minor, backport-v2, edit:actions, edit:loadbalancer, edit:testinfra

#3359 tests: fix containerinfra template creation
  internal/acceptance/openstack/containerinfra/v1/containerinfra.go
  openstack/containerinfra/v1/clustertemplates/testing/fixtures_test.go
Labels: semver:patch, backport-v2, edit:containerinfra
