Repository gophercloud/gophercloud, pull requests merged in 2025-06, with the labels that each got.

#3416 [v2] tests: bump devstack-action
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/functional-workflow.yaml
Labels: semver:patch, edit:actions, v2, edit:testinfra

#3398 trivial: Avoid overlapping ports in live servers tests
  openstack/objectstorage/v1/objects/testing/requests_test.go
Labels: semver:patch, backport-v2, edit:objectstorage, edit:identity

#3432 make: Use fixed version of gotestsum
  Makefile
Labels: semver:patch, backport-v2

#3420 Refine endpoint discovery
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/functional-workflow.yaml
  internal/acceptance/openstack/networking/v2/extensions/vlantransparent/vlantransparent.go
  internal/acceptance/openstack/networking/v2/extensions/vlantransparent/vlantransparent_test.go
  openstack/endpoint.go
  openstack/utils/choose_version.go
  openstack/utils/discovery.go
  openstack/utils/testing/choose_version_test.go
  openstack/utils/testing/discovery_test.go
  openstack/utils/testing/fixtures_test.go
Labels: semver:major, edit:networking, edit:openstack, edit:actions, edit:utils, edit:testinfra

#3427 neutron: support security group empty name update
  internal/acceptance/openstack/networking/v2/extensions/security_test.go
  openstack/networking/v2/extensions/security/groups/requests.go
  openstack/networking/v2/extensions/security/groups/testing/requests_test.go
Labels: semver:major, edit:networking

#3426 neutron: fix BGP peers and speakers struct member types
  internal/acceptance/openstack/networking/v2/extensions/bgp/peers/bgppeers_test.go
  internal/acceptance/openstack/networking/v2/extensions/bgp/speakers/bgpspeakers_test.go
  internal/acceptance/openstack/networking/v2/extensions/bgp/speakers/speakers.go
  openstack/networking/v2/extensions/bgp/peers/requests.go
  openstack/networking/v2/extensions/bgp/peers/testing/requests_test.go
  openstack/networking/v2/extensions/bgp/speakers/requests.go
  openstack/networking/v2/extensions/bgp/speakers/testing/fixture.go
  openstack/networking/v2/extensions/bgp/speakers/testing/requests_test.go
Labels: semver:major, edit:networking

#3414 dns: add support for /v2/quotas
  internal/acceptance/openstack/dns/v2/quotas_test.go
  openstack/dns/v2/quotas/doc.go
  openstack/dns/v2/quotas/requests.go
  openstack/dns/v2/quotas/results.go
  openstack/dns/v2/quotas/testing/doc.go
  openstack/dns/v2/quotas/testing/fixtures_test.go
  openstack/dns/v2/quotas/testing/requests_test.go
  openstack/dns/v2/quotas/urls.go
Labels: semver:minor, backport-v2, edit:dns, edit:actions, edit:testinfra

#3445 nova: add support for hostname updates
  internal/acceptance/openstack/compute/v2/servers_test.go
  openstack/compute/v2/servers/requests.go
  openstack/compute/v2/servers/testing/fixtures_test.go
  openstack/compute/v2/servers/testing/requests_test.go
Labels: semver:minor, backport-v2, edit:compute

#3446 nova: add support for hostname updates
  internal/acceptance/openstack/compute/v2/servers_test.go
  openstack/compute/v2/servers/requests.go
  openstack/compute/v2/servers/testing/fixtures_test.go
  openstack/compute/v2/servers/testing/requests_test.go
Labels: semver:minor, edit:compute, v2
