Repository gophercloud/gophercloud, pull requests merged in 2025-03, with the labels that each got.

#3309 Backport: Added support for hypervisor_hostname to v2
  openstack/compute/v2/servers/requests.go
  openstack/compute/v2/servers/testing/requests_test.go
Labels: semver:minor, edit:compute, v2

#3316 Prepare v2.6.0
  CHANGELOG.md
  provider_client.go
Labels: semver:major, v2, edit:gophercloud

#3290 Added support for baremetal portgroups
  internal/acceptance/openstack/baremetal/httpbasic/portgroups_test.go
  internal/acceptance/openstack/baremetal/noauth/portgroups_test.go
  internal/acceptance/openstack/baremetal/v1/baremetal.go
  internal/acceptance/openstack/baremetal/v1/portgroups_test.go
  openstack/baremetal/v1/portgroups/requests.go
  openstack/baremetal/v1/portgroups/results.go
  openstack/baremetal/v1/portgroups/testing/fixtures.go
  openstack/baremetal/v1/portgroups/testing/requests_test.go
  openstack/baremetal/v1/portgroups/urls.go
Labels: semver:major, edit:baremetal

#3279 Database V1 quotas get
  openstack/db/v1/quotas/doc.go
  openstack/db/v1/quotas/requests.go
  openstack/db/v1/quotas/results.go
  openstack/db/v1/quotas/testing/doc.go
  openstack/db/v1/quotas/testing/fixtures_test.go
  openstack/db/v1/quotas/testing/requests_test.go
  openstack/db/v1/quotas/urls.go
Labels: semver:minor, edit:db

#3318 Improve support for network `standard-attr-*` extensions
  internal/acceptance/openstack/networking/v2/extensions/layer3/floatingips_test.go
  internal/acceptance/openstack/networking/v2/extensions/layer3/routers_test.go
  internal/acceptance/openstack/networking/v2/extensions/qos/policies/policies_test.go
  internal/acceptance/openstack/networking/v2/extensions/security_test.go
  internal/acceptance/openstack/networking/v2/extensions/subnetpools/subnetpools_test.go
  internal/acceptance/openstack/networking/v2/extensions/trunks/trunks_test.go
  openstack/networking/v2/extensions/layer3/floatingips/requests.go
  openstack/networking/v2/extensions/layer3/floatingips/results.go
  openstack/networking/v2/extensions/layer3/routers/requests.go
  openstack/networking/v2/extensions/layer3/routers/results.go
  openstack/networking/v2/extensions/qos/policies/requests.go
  openstack/networking/v2/extensions/qos/policies/results.go
  openstack/networking/v2/extensions/security/groups/requests.go
  openstack/networking/v2/extensions/security/groups/results.go
  openstack/networking/v2/extensions/security/rules/requests.go
  openstack/networking/v2/extensions/security/rules/results.go
  openstack/networking/v2/extensions/subnetpools/requests.go
  openstack/networking/v2/extensions/trunks/requests.go
  openstack/networking/v2/extensions/trunks/results.go
  openstack/networking/v2/networks/requests.go
  openstack/networking/v2/ports/requests.go
  openstack/networking/v2/subnets/requests.go
  openstack/networking/v2/subnets/results.go
Labels: semver:minor, backport-v2, edit:networking

#3326 CI: skip TestLayer3RouterRevision on bobcat
  internal/acceptance/clients/conditions.go
  internal/acceptance/openstack/networking/v2/extensions/layer3/routers_test.go
Labels: semver:patch, backport-v2, edit:networking, edit:testinfra

#3303 Baremetal virtual media Get API
  internal/acceptance/openstack/baremetal/v1/nodes_test.go
  openstack/baremetal/v1/nodes/requests.go
  openstack/baremetal/v1/nodes/results.go
  openstack/baremetal/v1/nodes/testing/fixtures_test.go
  openstack/baremetal/v1/nodes/testing/requests_test.go
Labels: semver:minor, edit:baremetal

#3325 [v2] Switch to a version of gocovmerge compatible with go 1.22
  .github/workflows/unit.yaml
Labels: semver:patch, edit:actions, v2, edit:testinfra

#3327 Merge pull request #3209 from shiftstack/proper-service-discovery
  endpoint_search.go
  openstack/blockstorage/noauth/requests.go
  openstack/client.go
  openstack/endpoint_location.go
  service_client.go
  testing/endpoint_search_test.go
Labels: semver:major, edit:openstack, v2, edit:gophercloud, edit:blockstorage

#3305 Enhance Snapshot struct and add ListDetail function in V3 blockstorage
  internal/acceptance/openstack/blockstorage/v3/snapshots_test.go
  openstack/blockstorage/v3/snapshots/requests.go
  openstack/blockstorage/v3/snapshots/results.go
  openstack/blockstorage/v3/snapshots/testing/fixtures_test.go
  openstack/blockstorage/v3/snapshots/testing/requests_test.go
  openstack/blockstorage/v3/snapshots/urls.go
Labels: semver:minor, edit:blockstorage
