Repository gophercloud/gophercloud, pull requests merged in 2025-08, with the labels that each got.

#3483 Add networking taas tapmirror suite
  internal/acceptance/openstack/networking/v2/extensions/taas/taas.go
  internal/acceptance/openstack/networking/v2/extensions/taas/tapmirrors_test.go
  openstack/networking/v2/extensions/taas/tapmirrors/doc.go
  openstack/networking/v2/extensions/taas/tapmirrors/requests.go
  openstack/networking/v2/extensions/taas/tapmirrors/results.go
  openstack/networking/v2/extensions/taas/tapmirrors/testing/requests_test.go
  openstack/networking/v2/extensions/taas/tapmirrors/urls.go
Labels: semver:minor, backport-v2, edit:networking, edit:actions, edit:testinfra

#3443 lbaas: fix FlavorProfileId with a FlavorProfileID struct member name
  internal/acceptance/openstack/loadbalancer/v2/flavors_test.go
  internal/acceptance/openstack/loadbalancer/v2/loadbalancer.go
  openstack/loadbalancer/v2/flavors/doc.go
  openstack/loadbalancer/v2/flavors/requests.go
  openstack/loadbalancer/v2/flavors/results.go
  openstack/loadbalancer/v2/flavors/testing/fixtures.go
  openstack/loadbalancer/v2/flavors/testing/requests_test.go
Labels: semver:major, edit:loadbalancer

#3478 Fix incorrect ICMP field description in PortRangeMax comment
  openstack/networking/v2/extensions/security/rules/requests.go
Labels: semver:patch, backport-v2, edit:networking
