Repository gophercloud/gophercloud, pull requests merged in 2025-07, with the labels that each got.

#3451 blockstorage: add isPublic query option for volume types
  openstack/blockstorage/v3/volumetypes/requests.go
  openstack/blockstorage/v3/volumetypes/testing/fixtures_test.go
  openstack/blockstorage/v3/volumetypes/testing/requests_test.go
Labels: semver:minor, backport-v2, edit:blockstorage

#3448 neutron: allow omission of subnet_id for IP address
  openstack/networking/v2/extensions/layer3/routers/results.go
  openstack/networking/v2/ports/results.go
Labels: semver:patch, backport-v2, edit:networking

#3465 [v2] tests: Fix TestVLANTransparentCRUD test
  internal/acceptance/openstack/networking/v2/extensions/vlantransparent/vlantransparent.go
  internal/acceptance/openstack/networking/v2/extensions/vlantransparent/vlantransparent_test.go
Labels: semver:patch, edit:networking, v2

#3468 tests: shorten GH-A job names
  .github/workflows/codeql-analysis.yaml
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/functional-workflow.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit.yaml
Labels: semver:patch, backport-v2, edit:actions, edit:testinfra

#3470 Switch to a version of gocovmerge compatible with go 1.22
  .github/workflows/unit.yaml
Labels: semver:patch, backport-v2, edit:actions, edit:testinfra

#3469 [v2] tests: shorten GH-A job names
  .github/workflows/codeql-analysis.yaml
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/functional-workflow.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit.yaml
Labels: semver:patch, edit:actions, v2, edit:testinfra

#3472 Change compute services UpdateOpts fields ForceDown to pointer
  openstack/compute/v2/services/requests.go
  openstack/compute/v2/services/testing/fixtures_test.go
  openstack/compute/v2/services/testing/requests_test.go
Labels: semver:major, edit:compute

#3476 [v2] tests: fix volumetypes unit tests
  openstack/blockstorage/v3/volumetypes/testing/fixtures_test.go
  openstack/blockstorage/v3/volumetypes/testing/requests_test.go
Labels: semver:patch, v2, edit:blockstorage

#3457 script: Improve getenvvar helper
  script/getenvvar
Labels: semver:patch, backport-v2, edit:testinfra

#3480 Implement hypervisors.GetExt: Get with Query parameter
  openstack/compute/v2/hypervisors/requests.go
  openstack/compute/v2/hypervisors/testing/fixtures_test.go
  openstack/compute/v2/hypervisors/testing/requests_test.go
Labels: semver:minor, backport-v2, edit:compute
