Repository gophercloud/gophercloud, pull requests merged in 2025-02, with the labels that each got.

#3282 Fix JSON field name hints in APIVersion structs
  openstack/loadbalancer/v2/apiversions/results.go
  openstack/networking/v2/apiversions/results.go
Labels: backport-v1, semver:patch, backport-v2, edit:networking, edit:loadbalancer

#3284 block_storage: get quotausage for blockstorage volume_types
  internal/acceptance/openstack/blockstorage/v3/quotaset_test.go
  openstack/blockstorage/v2/quotasets/results.go
  openstack/blockstorage/v2/quotasets/testing/fixtures_test.go
  openstack/blockstorage/v2/quotasets/testing/requests_test.go
  openstack/blockstorage/v3/quotasets/results.go
  openstack/blockstorage/v3/quotasets/testing/fixtures_test.go
  openstack/blockstorage/v3/quotasets/testing/requests_test.go
Labels: semver:major, edit:blockstorage

#3296 build(deps): bump golang.org/x/crypto from 0.30.0 to 0.31.0
  go.mod
  go.sum
Labels: semver:patch, v2, edit:dependencies

#3299 Prepare v2.5.0
  CHANGELOG.md
  provider_client.go
Labels: semver:minor, v2, edit:gophercloud

#3301 Added support for `hypervisor_hostname`
  openstack/compute/v2/servers/requests.go
  openstack/compute/v2/servers/testing/requests_test.go
Labels: semver:minor, edit:compute

#3191 identity: Add Get endpoint by ID
  internal/acceptance/openstack/identity/v3/endpoint_test.go
  openstack/identity/v3/endpoints/requests.go
  openstack/identity/v3/endpoints/results.go
  openstack/identity/v3/endpoints/testing/requests_test.go
  openstack/identity/v3/projects/doc.go
Labels: semver:minor, backport-v2, edit:identity
