Repository gophercloud/gophercloud, pull requests merged in 2025-09, with the labels that each got.

#3437 Prepare for merge queues
  .github/actions/file-filter/Dockerfile
  .github/actions/file-filter/action.yml
  .github/actions/file-filter/file_filter_action.py
  .github/workflows/functional-baremetal.yaml
  .github/workflows/functional-basic.yaml
  .github/workflows/functional-blockstorage.yaml
  .github/workflows/functional-compute.yaml
  .github/workflows/functional-containerinfra.yaml
  .github/workflows/functional-dns.yaml
  .github/workflows/functional-fwaas_v2.yaml
  .github/workflows/functional-identity.yaml
  .github/workflows/functional-image.yaml
  .github/workflows/functional-keymanager.yaml
  .github/workflows/functional-loadbalancer.yaml
  .github/workflows/functional-messaging.yaml
  .github/workflows/functional-networking.yaml
  .github/workflows/functional-objectstorage.yaml
  .github/workflows/functional-orchestration.yaml
  .github/workflows/functional-placement.yaml
  .github/workflows/functional-sharedfilesystems.yaml
  .github/workflows/functional-workflow.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit.yaml
Labels: semver:patch, backport-v2, edit:actions, edit:testinfra

#3507 Trigger "hold" workflow on merge groups
  .github/workflows/check-pr-labels.yaml
Labels: semver:patch, backport-v2, edit:actions

#3514 Added comment addressing IRONIC_BAREMETAL_BASIC_OPS=false
  .github/workflows/functional-baremetal.yaml
Labels: semver:patch, backport-v2, edit:actions, edit:testinfra

#3515 refactor: Trivial fixes
  pagination/testing/doc.go
  provider_client.go
  util.go
Labels: semver:patch, backport-v2, edit:gophercloud

#3521 compute: Add host aggregate uuid field
  openstack/compute/v2/aggregates/results.go
Labels: semver:minor, backport-v2, edit:compute
